@charset "Shift_JIS";

/* --------------------------------------------------------------------
	default
--------------------------------------------------------------------- */
body {
	-webkit-text-size-adjust:100%;
	max-height:100%;
}
.important-notify .w978c p.column,
.bdrect-important p,
.bdrect-important h4,
.text-section h2,
.breadclumbs p,
.section-header h1,
.section-content .text-section p,
.section-content .text-section.showPc p {
	max-height:100%;
}
#reminder .text-section p.more-strong {
	display:inline-block;
	*display:inline;
	*zoom:1;
	background:#F2EEEA;
	border:1px solid #e0dad3;
	padding:12px 18px;
	margin-bottom:1.2em;
}
.important-notify .w978c p.column span {
	max-height:100%;
	max-width:100%;
}
.showSp {
	display:none !important;
}
#itemList .sortby ul li.showSp {
	margin:0;
	padding:0;
	display:none;
}
#change_view_topchange_view_toppc_sp {
	width:100%;
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box
}
#change_view_toppc_sp .change_wrap {
	width:100%;
	margin:0;
	padding:10px 0;
	border:20px solid #461000;
	border-left:none;
	border-right:none;
	border-bottom:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box
}
#change_view_toppc_sp p {
	width:978px;
	margin:0 auto;
	padding:0 15px;
	font-size:24px;
	font-weight:normal;
	background:#FFF;
	color:#461000;
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box
}
#change_view_toppc_sp p.cookies_sp {
	width:978px;
	height:110px;
	margin:0 auto 20px;
	padding:0 15px;
	font-size:46px;
	background:#FFF;
	color:#461000;
	display:block;
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box
}
#change_view_toppc_sp p.cookies_sp a span.forpc {
	height:110px;
	display:inline-block;
	line-height:110px;
	font-size:46px;
	font-weight:bold;
	margin:0 80px 0 0;
	padding:0 0 0 80px;
	float:left;
	background:url("../img/forsp.png") no-repeat 0 top;
	background-size:62px 110px;
	text-decoration:underline
}
#change_view_toppc_sp p.cookies_sp a.close-btn {
	width:250px;
	height:100px;
	display:inline-block;
	margin:0 0 0 0;
	padding:0 0 0 80px;
	background:url("../img/pc_close_btn.png") no-repeat left top;
	background-size:250px 100px;
	color:#461000;
	line-height:100px;
	font-weight:bold;
	text-decoration:none;
	border:none;
	float:right;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box
}
#catalogTable select, .select-wrap select {
	display:none
}
.sbHolder.sbHolderDisabled .sbToggle {
	display:block
}
#change_view_btm span {
	width:938px;
	height:125px;
	margin:20px auto;
	padding:0 0 0 267px;
	display:block;
	font-size:46px;
	line-height:115px;
	color:#523010;
	font-weight:bold;
	text-decoration:underline;
	background:url("../img/forsp_btn.png") no-repeat left top;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box
}
.news-block ul::-webkit-scrollbar {
	width:8px;
	background:#D2C7BF
}
#scrollbar01::-webkit-scrollbar:horizontal {
	height:5px
}
.news-block ul::-webkit-scrollbar-button {
	width:8px;
	height:5px;
	background:#D2C7BF
}
.news-block ul::-webkit-scrollbar-piece {
	background:#D2C7BF
}
.news-block ul::-webkit-scrollbar-piece:start {
	background:blue
}
.news-block ul::-webkit-scrollbar-thumb {
	background:#502B09
}
.news-block ul::-webkit-scrollbar-corner {
	background:#D2C7BF
}
#qtySelectArea select,
#optSelects select,
table .select-wrap select,
#catalogTable tbody tr td select {
	display:none !important;
}
#buyBox .bb-body #qtySelectArea select,
#buyBox .bb-body #sizeSelectArea select,
#buyBox .bb-body #sizeSelectArea select,
;#buyBox .bb-body #colorSelectArea select {
	display:none !important;
}
#signup .error-bg td i:nth-child(4) {
	margin-top:70px;
}

/* --------------------------------------------------------------------
	common　ボタン
-------------------------------------------------------------------- */
.submit_ {
	margin: 20px auto;
	text-align: center;
}
.submit_.right_ {
	text-align: right;
}
.submit_.right_ .btn  { 
	margin: 0 0 0 8px;
}
.submit_ .btn {
	width:230px;
	height:60px;
	margin:0 8px;
	padding:0;
	line-height:59px;
	font-size:18px;
}
.submit_ .btn i {
	margin:0 10px 0 0;
}
.submit_ .btn.next_ i {
	margin:0 0 0 10px;
}
.submit_ .btn.nextto_ i {
	margin:0 10px 0 0;
}
.submit_ a.btn {
	height:60px;
	margin:0 8px;
	line-height:60px;
}
.submit_ input,
.submit_ img {
	margin: 0px 16px;
	vertical-align: middle;
}
.submit_.btn2_ {
	width:500px;
	margin:20px auto;
	zoom:1;
}
.submit_.btn2_:after {
	content: ""; 
	display: block; 
	height: 0; 
	font-size:0;	
	clear: both; 
	visibility:hidden;
}
.submit_.btn2_ .back_ {
	float:left;
}
.submit_.btn2_ .next_ {
	float:right;
}
.submit_.btn3_ {
	width:735px;
	margin:20px auto;
	zoom:1;
}
.submit_.btn3_:after {
	content: ""; 
	display: block; 
	height: 0; 
	font-size:0;	
	clear: both; 
	visibility:hidden;
}
.submit_.btn3_ .back_ {
	margin:0;
	float:left;
}
.submit_.btn3_ .next_ {
	float:right;
}

/* --------------------------------------------------------------------
	common　汎用クラス
-------------------------------------------------------------------- */
/* 特定メッセージ（インライン） */
.error_ {
	color:#CC0000;
	font-weight:bold;
}
.notice_ {
	color:#993300;
	font-weight:bold;
}
.info_ {
	font-weight:bold;
}
/**/

/* 特定メッセージ（ブロック） */
div.error_, table.error_ {
	background-color:#efefef;
	border:solid 1px #FF0099;
	padding:8px;
	margin:4px auto;
	text-align:left;
	width: 560px;
}
div.notice_, table.notice_ {
	background-color:#efefef;
	border:solid 1px #996666;
	padding:8px;
	margin:4px auto;
	text-align:left;
	width: 580px;
}
div.info_, table.info_ {
	background-color:#efefef;
	border:solid 1px #666666;
	padding:8px;
	margin:4px auto;
	text-align:left;
	width: 560px;
}
ul.error_ {
	margin-left: 16px;
}
.top_comment_ {
	margin-bottom: 10px;
}
.message_  { margin:10px;}
p.message_ { margin-bottom: 10px;}

/* 共通クラス(その他) */
.hidden_ {
	visibility: hidden;
}
.nocell_ {
	border:none!important;
	background-color:transparent!important;
}
.hiddenEnter_ { width:0; height:0; padding:0; margin:0; line-height:0; border:none; font-size:1px; display:none;}
.disp_none_ {
	display: none;
}
.disp_block_ {
	display: block;
}
.txt_linethrough_ {
	text-decoration: line-through;
}
.valign_m_ {
	vertical-align: middle;
}
.left_column_ {
	float: left;
}
.pointer_ {
	cursor: pointer;
}
.fontsize_small_ {
	font-size: small;
}
.whitespace_nowrap_ {
	white-space: nowrap;
}

/* 価格表示 */
.special_price_ {
	color:#ff0000;
}
.price_pop_ {
	color:#ff0000;
	font-size:10px;
}
.price_ {
	color:#cc3300;
	font-size:14px;
	font-weight:bold;
}

/* 絞り込み項目の上下開閉*/
#block_of_filter div.Box {
	padding: 9px 19px;
	border-bottom: 1px solid #e0dad3;
}
#block_of_filter div.Accordion.Box h3 span.Label {
	padding-left: 16px;
	background: url(../img/usr/bt_sub_accodion_opened.png) no-repeat 0 2px;
}
#block_of_filter div.Accordion.Box h3 span.Label:hover {
	padding-left: 16px;
	background: url(../img/usr/bt_sub_accodion_opened_hover.png) no-repeat 0 2px;
	cursor: pointer;
	color: #0fbefa;
}
#block_of_filter div.Close.Accordion.Box h3 span.Label {
	padding-left: 16px;
	background:url(../img/usr/bt_sub_accodion.png) no-repeat 0 2px;
	cursor: pointer;
}
#block_of_filter div.Close.Accordion.Box h3 span.Label:hover {
	padding-left: 16px;
	background:url(../img/usr/bt_sub_accodion_hover.png) no-repeat 0 2px;
	cursor: pointer;
}
#block_of_filter div.Box.Accordion.Close div.AccordionContents {
    display: none;
}

/* 絞り込み要素の画像*/
.filter_image_ {
	position: relative;
	display: inline-block;
}
.filter_image_ a {
	text-decoration: none;
}
.filter_image_ a img {
	padding: 0px 3px 3px 0px;
}
.filter_image_ a img.filter_element_check_ {
	text-decoration: none;
	position: absolute;
	top: 0px;
	left: 0px;
}
.coupon_bonus_ {
	color:#CC3300;
	font-weight:bold;
	white-space: nowrap;
}

/* --------------------------------------------------------------------
	common　ヘッドライン
-------------------------------------------------------------------- */
h1.optimaizedH1 {
	display:none;
}
h2.goods_name_ {
	margin:0 0 15px 0;
	color: #555555;
	font-size: 18px;
	font-weight: bold;
	line-height: 140%;
}
h2.category_name_ {
	margin:0 0 20px 0;
	padding:0 0 10px 0;
	color: #3fbf0d;
	font-size: 24px;
	font-weight: normal;
	line-height: 140%;
}
h2.category_name_img_ {
	margin-bottom: 10px;
}
h2.event_name_ {
    padding-bottom:7px;	
	margin-bottom:28px;
    color: #331906;
    font-size: 24px;
    font-weight:bold;
    letter-spacing:1px;
	position:relative;
	background:transparent left bottom no-repeat;
	background-image:url(../res/img/line-h1-726.png);
}
h2.event_name_img_ {
	margin-bottom: 10px;
}
h2.genre_name_ {
    padding-bottom:7px;	
	margin-bottom:28px;
    color: #331906;
    font-size: 24px;
    font-weight:bold;
    letter-spacing:1px;
	position:relative;
	background:transparent left bottom no-repeat;
	background-image:url(../res/img/line-h1-726.png);
}
h2.genre_name_img_ {
	margin-bottom: 10px;
}
h2.topic_head_ {
    padding-bottom:7px;	
	margin-bottom:28px;
    color: #331906;
    font-size: 24px;
    font-weight:bold;
    letter-spacing:1px;
	position:relative;
	background:transparent left bottom no-repeat;
	background-image:url(../res/img/line-h1-726.png);
}

/* 汎用ヘッドライン */
.common_headline1_ {
    padding-bottom:7px;	
	margin-bottom:28px;
    color: #331906;
    font-size: 24px;
    font-weight:bold;
    letter-spacing:1px;
	position:relative;
	background:transparent left bottom no-repeat;
	background-image:url(../res/img/line-h1-978.png);
}
.common_headline2_ {
	padding-bottom:5px;
	margin-bottom:1.2em;
	border-bottom:3px solid #735c4f;
	font-size:125%;
	font-weight:bold;
	color:#331906;
	letter-spacing:1px;
}
.design_headline2_ {
	padding-bottom:5px;
	margin-bottom:1.2em;
	border-bottom:3px solid #735c4f;
	font-size:125%;
	font-weight:bold;
	color:#331906;
	letter-spacing:1px;
}
.loginform_ .common_headline2_ {
}
.common_headline3_ {
	padding-bottom:4px;
	margin-bottom:1.2em;
	border-bottom:2px solid #d3cbc5;
	font-size:112.5%;
	font-weight:bold;
	color:#331906;
	letter-spacing:1px;
}
.img_headline_ {
	margin-bottom: 10px;
}

/* --------------------------------------------------------------------
	common　テーブル風表現
-------------------------------------------------------------------- */
div.formdetail_ {
	margin-bottom:20px;
	border-top:1px solid #e0dad3;
}
div.formdetail_ dl {
	width:100%;
	display:table;
	border-collapse:collapse;
	margin:0 auto;
}
div.formdetail_ dl dt {
	padding:10px;
	text-align: left;
	font-weight:bold;
	vertical-align:middle;
	background-color:#F2EEEA;
	border-bottom:1px solid #e0dad3;
	border-collapse:collapse;
	display:table-cell;
	zoom:1;
}
div.formdetail_ dl dt:after {
	content: ""; 
	display: block; 
	height: 0; 
	font-size:0;	
	clear: both; 
	visibility:hidden;
}
div.formdetail_ dl dd {
	padding:10px;
	font-weight:normal;
	vertical-align:middle;
	background-color:#FFF;
	border-bottom:1px solid #e0dad3;
	border-collapse:collapse;
	display:table-cell;
}

/* --------------------------------------------------------------------
	common　イベント
-------------------------------------------------------------------- */
/* イベントへのリンク */
.event_ {
	width: 100%;
	overflow: hidden;
}
.event_banner_ {
	margin: 0 5px 10px 5px;
	float: left;
	display: inline;
}
.event_title_img_ {
	margin: 0 0 10px 0;
}
.event_title_ {
	margin-bottom: 10px;
	padding: 8px 8px 8px 10px;
	font-size: 18px;
	font-weight: normal;
	color:#ffffff;
	border-bottom: 1px solid #e5e5e5;
	background:#3fbf0d;
	clear: both!important;
}
.event_title_ a {
	color:#ffffff;
	display:block;
}

/* --------------------------------------------------------------------
	common　ナビゲーション
-------------------------------------------------------------------- */
/* パンくず */
.navitopicpath_ {
	padding:16px 0;
	font-size:87.5%
}
.navitopicpath_ .icon.arrow-bc {
	margin:0 6px
}
.navitopicpath_.foot-bc {
	margin-top:-30px;
	clear:both;
}
#bread-crumb-list {
	width: 100%;
	float: left;
}
#bread-crumb-list li {
	display: inline;
}

/* ページジャンプ */
.navipage_ {
}
.navipage_.top_ {
}
.navipage_.bottom_ {
}
.navipage_ .navipage_sum_ {
}

/* 並び替え */
.navisort_ {
}
.navisort_ a {
}
.sortby li:first-child {
	padding-right:0;
}

/* 表示切替 */
.navistyle_ {
	margin-bottom: 5px;
	padding-bottom: 5px;
	font-size: 10px;
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #e0dad3;
}
.navistyle_ dt {
	float: left;
	text-align: right;
	font-weight: bold;
	width: 8em;
}
.navistyle_ dd {
	margin-left: 8em;
}
.navistyle_now_ {
	color:#CC0000;
	text-decoration:none;
	margin:2px 5px;
	white-space: nowrap;
}
.navistyle_ a {
	margin:2px 5px;
	white-space: nowrap;
}

/* --------------------------------------------------------------------
	common　フォーム
-------------------------------------------------------------------- */
.formlist_ {
	margin: 0 auto;
	border:1px solid #e0dad3;
	border-collapse: collapse;
}
.formlist_ th {
	padding:10px;
	font-weight:bold;
	white-space: nowrap;
	background-color:#f2eeea;
	border:1px solid #e0dad3;
}
.formlist_ td {
	padding:10px;
	font-weight:normal;
	background-color:#FFF;
	border-bottom:1px solid #e0dad3;
}
.formlist_ .line0_ {
	background-color:#F2EEEA;
}
.formlist_ .line1_ {
	background-color:#FCFCFC;
}
.formdetail_ {
	border-collapse:collapse;
	margin:0 auto;
}
.formdetail_ th {
	padding:8px;
	text-align: left;
	font-weight:bold;
	vertical-align: top;
	background-color:#F2EEEA;
	border-top:1px solid #e0dad3;
	border-bottom:1px solid #e0dad3;
}
.formdetail_ td {
	padding:8px;
	font-weight:normal;
	vertical-align: top;
	background-color:#FFF;
	border-top:1px solid #e0dad3;
	border-bottom:1px solid #e0dad3;
}
.formdetailcard_ {
	margin:0 auto;
	margin-left:0px;
	float:none;
	border-collapse:collapse;
}
.formdetailcard_ th {
	border-top:1px solid #e0dad3;
	border-bottom:1px solid #e0dad3;
	font-weight:bold;
	line-height:15px;
	padding:8px;
	background-color:#F2EEEA;
	white-space:nowrap;
	text-align: left;
}
.formdetailcard_ td {
	border-top:1px solid #e0dad3;
	border-bottom:1px solid #e0dad3;
	font-weight:normal;
	line-height:15px;
	padding:8px;
	background-color:#FFF;
}
.formsublist_ {
	border-collapse: collapse;
}
.formsublist_ th {
	border:1px solid #e0dad3;
	background-color:#FFF;
	font-weight:bold;
	white-space: nowrap;
}
.formsublist_ td {
	border:1px solid #e0dad3;
	background-color:#FFF;
	font-weight:normal;
}
.must_ {
	margin-left: 10px;
	float: right;
	display: inline;
}

.classrequired {
	background: #ffeeee;
}
.classerror {
	background: #ffeeee;
}

/* --------------------------------------------------------------------
	common　Trace
-------------------------------------------------------------------- */
/* for Trace */
.tracecontent {
	text-align:left;
	background-color:#FFCCFF;
}
#__asptrace {
	text-align:left;
	background-color:#FFF;
}
span.tracecontent tr.subhead {
	background-color:#F2EEEA;
}
span.tracecontent tr.alt {
	background-color:#eeeeee
}
