@charset "Shift_JIS";

/* --------------------------------------------------------------------
	クイックオーダー
-------------------------------------------------------------------- */
#catalog .quickorderText{margin-top:-13px;}
#catalog #catalogTable .additional-table-footer{background:transparent;}
#catalog .catalogItems + .catalogItems{margin-top:5px;}
#catalog .catalogInputs{
	background-color:#f2eeea;
	padding:10px;
	position:relative;
}
#catalog .catalogInputs p{
	display:inline-block;
	font-size:16px;
	font-weight:bold;
	color:#461000;
	line-height:40px;
}
#catalog .catalogInputs a.delete-btn{
	display:inline-block;
	position:absolute;
	top:50%;
	right:10px;
	margin-top:-12.5px;
}
#catalog .catalogInputs .inputArea{
	display:inline-block;
	margin:0 10px;
	vertical-align:top;
}
#catalog .catalogInputs .inputArea input{
	width:100%;
	box-sizing:border-box;
	height:auto;/**/
	line-height:1;/**/
	padding:7px 12px;/**/
}
#catalog .catalogInputs .inputArea span{
	display:block;
	float:left;
}
#catalog .catalogInputs .inputArea .first-input{width:84px;}
#catalog .catalogInputs .inputArea .second-input{width:160px;}
#catalog .catalogInputs .inputArea .input-solid{
	line-height:40px;
	width:30px;
	text-align:center;
}
#catalog .is-hidden{display:none;}
#catalog .catalogResults .errorArea{padding:10px;}
#catalog .catalogResults .errorArea .error-box{
	margin:0;
	box-sizing:border-box;
	background:#fff;
}
#catalog .catalogResults .resultArea{
	display:table;
	width:100%;
	padding:10px 0;
}
#catalog .catalogResults .resultArea .item-box{
	display:table-cell;
	padding:0 10px;
	vertical-align:top;
	width:368px;
}
#catalog .catalogResults .resultArea .item-box .img img{
	width:88px;
	height:88px;
}
#catalog .catalogResults .resultArea .item-box .img:hover img {
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity:1
}
#catalog .catalogResults .resultArea .item-box .detail{padding-left:95px;}
#catalog .catalogResults .resultArea .item-box .detail .iname{
	color:#331906;
}
#catalog .catalogResults .resultArea .select-box{
	display:table-cell;
	vertical-align:top;
	padding:0 10px;
	border-left:1px solid #d1cac2;
	position:relative;
}
#catalog .catalogResults .resultArea .select-box .select-spec-item .sbHolder{font-size:16px;}
#catalog .catalogResults .resultArea .select-box .select-spec-item .sbSelector{text-indent:5px;}
#catalog .catalogResults .resultArea .select-box.nth-child1                              {width:240px;}
#catalog .catalogResults .resultArea .select-box.nth-child1 .select-spec-item .sbHolder,
#catalog .catalogResults .resultArea .select-box.nth-child1 .select-spec-item .sbOptions {width:178px;}
#catalog .catalogResults .resultArea .select-box.nth-child1 .select-spec-item .sbSelector{width:138px;}
#catalog .catalogResults .resultArea .select-box.nth-child2                              {width:147px;}
#catalog .catalogResults .resultArea .select-box.nth-child2 .select-spec-item .sbHolder,
#catalog .catalogResults .resultArea .select-box.nth-child2 .select-spec-item .sbOptions {width:85px;}
#catalog .catalogResults .resultArea .select-box.nth-child2 .select-spec-item .sbSelector{width:45px;}
#catalog .catalogResults .resultArea .select-box.nth-child3                              {width:140px; padding-bottom:30px;}
#catalog .catalogResults .resultArea .select-wrap {
	width:100%;
	padding:0 0 10px 0;
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;}
.catalogResults .resultArea .select-spec {
	width:60px;
	height:auto;
	min-height:40px;
	max-height:500px;
	margin:0;
	padding:0;
	display:block;
	float:left;
	line-height:40px;
	font-weight:bold;
	color:#503017;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	overflow:visible;
	position:relative;}
#catalog .select-spec-liquid {
	width:100%;
	margin:0 0 0 -60px;
	float:left;
	display:block;
	height:auto;
	min-height:40px;
	max-height:500px;
	box-sizing:border-box;
	overflow:visible;
	position:relative;}
#catalog .catalogResults .resultArea .select-spec-item {
	margin:0 0 0 60px;
	height:auto;
	min-height:40px;
	max-height:500px;
	box-sizing:border-box;
	position:relative;}
#catalog .catalogResults .resultArea .stock-btn{
	padding:10px 0;
	white-space:nowrap;
}
#catalog .catalogResults .resultArea .stock-error{
	color:#ff1500;
	font-weight:bold;
	font-size:15px;
}
#catalog .item-link{
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
}
#catalog .delivery-day dl dt{
	background:#f2eeea;
	text-align:center;
	font-weight:bold;
}
#catalog .delivery-day dl dd{
	padding:5px 0;
	text-align:center;
}
#catalog .delivery-day-notes{
	font-size:12px;
	line-height:1.3
}

@media screen and (max-width:767px){
#catalog .quickorderText{margin:0; padding:4px 10px 20px;}
#catalog #catalogTable .additional-table-footer{background:transparent;}
#catalog .catalogItems + .catalogItems{margin-top:5px;}
#catalog .catalogInputs{
	background-color:#f2eeea;
	padding:10px;
	position:relative;
}
#catalog .catalogInputs p{
	display:inline-block;
	font-size:16px;
	font-weight:bold;
	color:#461000;
	line-height:1.6;
}
#catalog .catalogInputs a.delete-btn{
	display:inline-block;
	position:absolute;
	top:10px;
	right:10px;
	margin-top:0;
}
#catalog .catalogInputs .inputArea{
	display:block;
	margin:5px 0 0;
}
#catalog .catalogInputs .inputArea input{
	width:100%;
	box-sizing:border-box;
	height:auto;/**/
	line-height:1;/**/
	padding:7px 12px;/**/
}
#catalog .catalogInputs .inputArea span{
	display:block;
	float:left;
}
#catalog .catalogInputs .inputArea .first-input {width:30%;}
#catalog .catalogInputs .inputArea .second-input{width:60%;}
#catalog .catalogInputs .inputArea .input-solid {line-height:40px; width:10%; text-align:center;}
#catalog .is-hidden{display:none;}
#catalog .catalogResults .errorArea{padding:10px;}
#catalog .catalogResults .errorArea .error-box{
	width:100%;
	margin:0;
	box-sizing:border-box;
	background:#fff;
}
#catalog .catalogResults .resultArea{
	width:100%;
	padding:10px 0;
	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	-webkit-box-orient:vertical;/**/
	-webkit-box-direction:normal;/**/
	flex-direction:column;/**/
	-ms-flex-wrap:wrap;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
}
#catalog .catalogResults .resultArea .item-box{
	width:100%!important;
	box-sizing:border-box;
	display:block;
	-webkit-box-flex:0;
	-ms-flex:1 1 100%;
	flex:1 1 100%;
	-webkit-box-ordinal-group:3;
	-ms-flex-order:3;
	-webkit-order:3;
	order:3;
	padding:0 10px;
}

#catalog .catalogResults .resultArea .item-box .img img{
	width:88px;
	height:88px;
}
#catalog .catalogResults .resultArea .item-box .img:hover img {
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity:1
}
#catalog .catalogResults .resultArea .item-box .detail{padding-left:95px;}
#catalog .catalogResults .resultArea .item-box .detail .iname{
	color:#331906;
}

#catalog .catalogResults .resultArea .select-box{
	width:100%!important;
	box-sizing:border-box;
	display:block;
	-webkit-box-flex:0;
	-ms-flex:1 1 100%;
	flex:1 1 100%;
	border:0;
	padding:0 10px;
	position:relative;
}
#catalog .catalogResults .resultArea .select-box .select-spec-item .sbHolder  {font-size:16px;}
#catalog .catalogResults .resultArea .select-box .select-spec-item .sbSelector{text-indent:5px;}
#catalog .catalogResults .resultArea .select-box.nth-child1{
	-webkit-box-ordinal-group:1;
	-ms-flex-order:1;
	-webkit-order:1;
	order:1;
}
#catalog .catalogResults .resultArea .select-box.nth-child1 .select-spec-item .sbHolder,
#catalog .catalogResults .resultArea .select-box.nth-child1 .select-spec-item .sbOptions {width:178px;}
#catalog .catalogResults .resultArea .select-box.nth-child1 .select-spec-item .sbSelector{width:138px;}
#catalog .catalogResults .resultArea .select-box.nth-child2{
	-webkit-box-ordinal-group:2;
	-ms-flex-order:2;
	-webkit-order:2;
	order:2;
}
#catalog .catalogResults .resultArea .select-box.nth-child2 .select-spec-item .sbHolder,
#catalog .catalogResults .resultArea .select-box.nth-child2 .select-spec-item .sbOptions {width:85px;}
#catalog .catalogResults .resultArea .select-box.nth-child2 .select-spec-item .sbSelector{width:45px;}
#catalog .catalogResults .resultArea .select-box.nth-child3{
	-webkit-box-ordinal-group:4;
	-ms-flex-order:4;
	-webkit-order:4;
	order:4;
}
#catalog .catalogResults .resultArea .select-wrap {
	width:100%;
	padding:10px 0;
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;}
.catalogResults .resultArea .select-spec {
	width:60px;
	height:auto;
	min-height:40px;
	max-height:500px;
	margin:0;
	padding:0;
	display:block;
	float:left;
	line-height:40px;
	font-weight:bold;
	color:#503017;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	overflow:visible;
	position:relative;}
#catalog .select-spec-liquid {
	width:100%;
	margin:0 0 0 -60px;
	float:left;
	display:block;
	height:auto;
	min-height:40px;
	max-height:500px;
	box-sizing:border-box;
	overflow:visible;
	position:relative;}
#catalog .catalogResults .resultArea .select-spec-item {
	margin:0 0 0 85px;
	height:auto;
	min-height:40px;
	max-height:500px;
	box-sizing:border-box;
	position:relative;}
#catalog .catalogResults .resultArea .stock-btn{
	display:inline-block;
	padding:10px 0;
	white-space:nowrap;
}
#catalog .catalogResults .resultArea .stock-btn a{box-sizing:content-box;}
#catalog .catalogResults .resultArea .stock-error{
	color:#ff1500;
	font-weight:bold;
	font-size:15px;
}
#catalog .item-link{
	position:static;
	text-align:left;
	padding:10px 0;
}
#catalog .delivery-day dl{
	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	border:2px solid #f2eeea;
}
#catalog .delivery-day dl dt{
	background:#f2eeea;
	text-align:center;
	font-weight:bold;
	-webkit-box-flex:0;
	-ms-flex:0 0 50%;
	flex:0 0 50%;
	padding:5px 0;
}
#catalog .delivery-day dl dd{
	padding:5px 0;
	text-align:center;
	-webkit-box-flex:0;
	-ms-flex:0 0 50%;
	flex:0 0 50%;
}
#catalog .delivery-day-notes{font-size:12px; line-height:1.3; margin-top:5px;}
}

#catalog .process-guide article{padding:20px 0;}
#catalog .process-guide article + article{border-top:2px dotted rgb(76, 29, 0);}
#catalog .process-guide h2{
	font-size:18px;
	line-height:40px;
	color:rgb(76, 29, 0);
	font-weight:bold;
}
#catalog .process-guide h2 span{
	display:inline-block;
	margin:0 10px 0 0;
	padding:0 10px;
	color:#fff;
	font-weight:normal;
	background:rgb(76, 29, 0);
}
#catalog .process-guide figure{padding:10px 0;}