@charset "shift_jis";

/* --------------------------------------------------------------------
	Core
--------------------------------------------------------------------- */
.pie,
.btn          { position:relative;}
.tcol-white   { color:#fff;}
.tcol-white a { color:#fff;}
.tcol-white a:hover    { color:#e2dcd5;}
.tcol-white a:active   { color:#f2eeea;}
.tcol-default          { color:#1a0f08;}
.tcol-default a        { color:#451100;}
.tcol-default a:hover  { color:#db5d14;}
.tcol-default a:active { color:#f76b00;}
.tcol-error            { color:#ff1500;}
.tcol-error a          { color:#ff1500;}
.tcol-error a:hover    { color:#cc1a0a;}
.tcol-error a:active   { color:#cc1a0a;}
.cfx {
*zoom:1
}
.cfx:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
	overflow:hidden;
	visibility:hidden
}
.clearfix {
	overflow:hidden;
*zoom:1
}
.txtimg, .icon, .text {
	overflow:hidden;
	position:relative;
	display:inline-block;
	text-indent:100%;
	white-space:nowrap;
	zoom:1;
*text-indent:0;
*font-size:0;
*line-height:0;
*display:inline
}
body, input, button, select, textarea, table {
	font-family:'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
	font-size:16px;
	line-height:1.6;
	letter-spacing:0;
	color:#1a0f08;
}
.x-small,
.x-small_  { font-size:75%;}
.small,
.small_    { font-size:87.5%;}
.medium,
.medium_   { font-size:100%;}
.large,
.large_    { font-size:125%;}
.x-large,
.x-large_  { font-size:150%;}
.xx-large,
.xx-large_ { font-size:200%;}
a          { color:#451100;}
a:hover    { color:#db5d14;}
a:active   { color:#f76b00;}

.btn {
	outline:none;
	cursor:pointer;
	display:inline-block;
	border:1px solid;
	-webkit-border-radius:9px;
	-moz-border-radius:9px;
	-ms-border-radius:9px;
	-o-border-radius:9px;
	border-radius:9px;
	text-shadow:0 1px 0px #591e00;
	color:#fff;
	border-color:#d47226;
	background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOTk0NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U4NDkwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9947), color-stop(100%, #e84900));
	background:-webkit-linear-gradient(top, #ff9947, #e84900);
	background:-moz-linear-gradient(top, #ff9947, #e84900);
	background:-o-linear-gradient(top, #ff9947, #e84900);
	-pie-background:linear-gradient(top, #ff9947, #e84900);
	background:linear-gradient(top, #ff9947, #e84900);
	background-color:#f37123;
	text-decoration:none;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	line-height:16px;
	height:16px;
	padding:12px 18px;
	font-size:16px;}
.btn:hover {
	background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYjI3NSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmNjAxNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffb275), color-stop(100%, #ff6017));
	background:-webkit-linear-gradient(top, #ffb275, #ff6017);
	background:-moz-linear-gradient(top, #ffb275, #ff6017);
	background:-o-linear-gradient(top, #ffb275, #ff6017);
	-pie-background:linear-gradient(top, #ffb275, #ff6017);
	background:linear-gradient(top, #ffb275, #ff6017);
	background-color:#ff8946;
	border-color:#de8b49;
	color:#fff
}
.btn:active {
	background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QxNDIwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOTk0NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d14200), color-stop(100%, #ff9947));
	background:-webkit-linear-gradient(top, #d14200, #ff9947);
	background:-moz-linear-gradient(top, #d14200, #ff9947);
	background:-o-linear-gradient(top, #d14200, #ff9947);
	-pie-background:linear-gradient(top, #d14200, #ff9947);
	background:linear-gradient(top, #d14200, #ff9947);
	color:#fff;
	background-color:#e86d23
}
.btn .icon     { margin-top:-2px;}
.btn .text     { margin-top:-1px;}
.btn.btn-small { padding:10px 12px; font-size:14px; line-height:14px; height:14px;}
.btn.btn-large { padding:20px 24px; font-size:18px; line-height:18px; height:18px;}
.btn.btn-large.inner-icon-m2 .icon,
.btn.btn-large.inner-icon-m2 .text { margin-top:-9px;}
.btn.btn-green {
	text-shadow:0 1px 0px #0e1409;
	color:#fff;
	border-color:#1e3d27;
	background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NjMzNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMWMwZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #446336), color-stop(100%, #001c0d));
	background:-webkit-linear-gradient(top, #446336, #001c0d);
	background:-moz-linear-gradient(top, #446336, #001c0d);
	background:-o-linear-gradient(top, #446336, #001c0d);
	-pie-background:linear-gradient(top, #446336, #001c0d);
	background:linear-gradient(top, #446336, #001c0d);
	background-color:#223f21
}
.btn.btn-green:hover {
	background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUzNzg0MiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwM2QxYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #537842), color-stop(100%, #003d1c));
	background:-webkit-linear-gradient(top, #537842, #003d1c);
	background:-moz-linear-gradient(top, #537842, #003d1c);
	background:-o-linear-gradient(top, #537842, #003d1c);
	-pie-background:linear-gradient(top, #537842, #003d1c);
	background:linear-gradient(top, #537842, #003d1c);
	background-color:#295a2f;
	border-color:#295335;
	color:#fff
}
.btn.btn-green:active {
	background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMGIwNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ0NjMzNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000b05), color-stop(100%, #446336));
	background:-webkit-linear-gradient(top, #000b05, #446336);
	background:-moz-linear-gradient(top, #000b05, #446336);
	background:-o-linear-gradient(top, #000b05, #446336);
	-pie-background:linear-gradient(top, #000b05, #446336);
	background:linear-gradient(top, #000b05, #446336);
	color:#fff;
	background-color:#22371d
}
.btn.btn-baige {
	border-width:1.25px;
	text-shadow:0 1px 0px #f9f7f5;
	color:#331906;
	border-color:#ccc7c1;
	background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZjhmNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2QxY2FjMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcf8f4), color-stop(100%, #d1cac2));
	background:-webkit-linear-gradient(top, #fcf8f4, #d1cac2);
	background:-moz-linear-gradient(top, #fcf8f4, #d1cac2);
	background:-o-linear-gradient(top, #fcf8f4, #d1cac2);
	-pie-background:linear-gradient(top, #fcf8f4, #d1cac2);
	background:linear-gradient(top, #fcf8f4, #d1cac2);
	background-color:#e6e1db
}
.btn.btn-baige:hover {
	background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RhZDVjZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dad5cf));
	background:-webkit-linear-gradient(top, #ffffff, #dad5cf);
	background:-moz-linear-gradient(top, #ffffff, #dad5cf);
	background:-o-linear-gradient(top, #ffffff, #dad5cf);
	-pie-background:linear-gradient(top, #ffffff, #dad5cf);
	background:linear-gradient(top, #ffffff, #dad5cf);
	background-color:#eceae7;
	border-color:#d6d2cd;
	color:#472308
}
.btn.btn-baige:active {
	background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjYzViYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZjZjhmNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ccc5bc), color-stop(100%, #fcf8f4));
	background:-webkit-linear-gradient(top, #ccc5bc, #fcf8f4);
	background:-moz-linear-gradient(top, #ccc5bc, #fcf8f4);
	background:-o-linear-gradient(top, #ccc5bc, #fcf8f4);
	-pie-background:linear-gradient(top, #ccc5bc, #fcf8f4);
	background:linear-gradient(top, #ccc5bc, #fcf8f4);
	color:#331906;
	background-color:#e4ded8
}
.btn:disabled,
.btn.disabled        { filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=72); opacity:0.72;}
.btn.w-c3            { padding-left:0; padding-right:0; width:220px;}
.btn.w-c4            { padding-left:0; padding-right:0; width:304px;}
.btn.w-c12           { padding-left:0; padding-right:0; width:976px;}
button.btn           { height:42px;}
button.btn.btn-small { height:36px;}
button.btn.btn-large { height:60px;}
.icon,
.text {
	outline:none;
	vertical-align:middle;
*vertical-align:baseline
}
.ico-cat        { background-image:url(../img/ico-cat-s1a90cf1522.png);}
.ico-cat.cat-01 { height:52px; width:52px; background-position:0 -1232px;}
.ico-cat.cat-02 { height:52px; width:52px; background-position:0 0;}
.ico-cat.cat-03 { height:52px; width:52px; background-position:0 -2016px;}
.ico-cat.cat-04 { height:52px; width:52px; background-position:0 -336px;}
.ico-cat.cat-05 { height:52px; width:52px; background-position:0 -112px;}
.ico-cat.cat-06 { height:52px; width:52px; background-position:0 -1568px;}
.ico-cat.cat-07 { height:52px; width:52px; background-position:0 -1792px;}
.ico-cat.cat-08 { height:52px; width:52px; background-position:0 -1904px;}
.ico-cat.cat-09 { height:52px; width:52px; background-position:0 -1008px;}
.ico-cat.cat-10 { height:52px; width:52px; background-position:0 -1680px;}
.ico-cat.cat-11 { height:52px; width:52px; background-position:0 -560px;}
.ico-cat.cat-12 { height:52px; width:52px; background-position:0 -448px;}
.ico-cat.cat-13 { height:52px; width:52px; background-position:0 -784px;}
.ico-cat.cat-14 { height:52px; width:52px; background-position:0 -1344px;}
.ico-cat.cat-15 { height:52px; width:52px; background-position:0 -672px;}
.ico-cat.cat-16 { height:52px; width:52px; background-position:0 -1120px;}
.ico-cat.cat-17 { height:52px; width:52px; background-position:0 -896px;}
.ico-cat.cat-18 { height:52px; width:52px; background-position:0 -1456px;}
.ico-cat.cat-19 { height:52px; width:52px; background-position:0 -224px;}
.ico-cat.cat-all{ height:52px; width:52px; background-position:0 -2128px;}
.ico-ex         { background-image:url(../img/ico-ex-s89e750abb8.png);}
.ico-ex.arrow-bc            { height:12px; width:6px; background-position:0 -22px;}
.ico-ex.arrow-tick-white    { height:7px; width:6px; background-position:-6px -41px;}
.ico-ex.arrow-tick          { height:7px; width:6px; background-position:0 -41px;}
.ico-ex.badge-L-discount    { height:24px; width:96px; background-position:-114px -151px;}
.ico-ex.badge-L-limited     { height:24px; width:96px; background-position:0 -301px;}
.ico-ex.badge-L-new         { height:24px; width:96px; background-position:-18px -151px;}
.ico-ex.badge-L-recommended { height:24px; width:96px; background-position:-18px -175px;}
.ico-ex.badge-M-discount    { height:22px; width:71px; background-position:0 -241px;}
.ico-ex.badge-M-limited     { height:22px; width:40px; background-position:-127px -61px;}
.ico-ex.badge-M-new         { height:22px; width:44px; background-position:-170px 0;}
.ico-ex.badge-M-recommended { height:22px; width:62px; background-position:0 -271px;}
.ico-ex.badge-S-discount    { height:16px; width:55px; background-position:-167px -61px;}
.ico-ex.badge-S-limited     { height:16px; width:31px; background-position:-79px 0;}
.ico-ex.badge-S-new         { height:16px; width:34px; background-position:0 -61px;}
.ico-ex.badge-S-recommended { height:16px; width:49px; background-position:-162px -22px;}
.ico-ex.badge-important-info{ height:18px; width:60px; background-position:-110px 0;}
.ico-ex.badge-required      { height:19px; width:33px; background-position:-129px -22px;}
.ico-ex.badge-stock0        { background-image:url(../img/ico-ex/badge-stock0.png); background-size:contain; height:30px; width:114px; }
.ico-ex.badge-stock1        { background-image:url(../img/ico-ex/badge-stock1.png); background-size:contain; height:30px; width:114px; }
.ico-ex.badge-stock2        { background-image:url(../img/ico-ex/badge-stock2.png); background-size:contain; height:30px; width:114px; }
.ico-ex.beginner        { height:16px; width:13px; background-position:-32px 0;}
.ico-ex.book            { height:14px; width:18px; background-position:-12px -41px;}
.ico-ex.btn16-arrowB-0  { height:18px; width:16px; background-position:-65px -22px;}
.ico-ex.btn16-arrowB-f  { height:18px; width:16px; background-position:-46px -41px;}
.ico-ex.btn16-arrowL-0  { height:19px; width:16px; background-position:-113px -22px;}
.ico-ex.btn16-arrowL-f  { height:19px; width:16px; background-position:-97px -22px;}
.ico-ex.btn16-arrowR-0  { height:19px; width:16px; background-position:-72px -61px;}
.ico-ex.btn16-arrowR-f  { height:19px; width:16px; background-position:-56px -61px;}
.ico-ex.btn16-arrowT-0  { height:18px; width:16px; background-position:-49px -22px;}
.ico-ex.btn16-arrowT-f  { height:18px; width:16px; background-position:-30px -41px;}
.ico-ex.btn16-cross-0   { height:18px; width:16px; background-position:-81px -22px;}
.ico-ex.btn16-cross-f   { height:18px; width:16px; background-position:-62px -41px;}
.ico-ex.btn16-edit-0    { height:18px; width:17px; background-position:-62px 0;}
.ico-ex.btn16-edit-f    { height:18px; width:17px; background-position:-45px 0;}
.ico-ex.btn18-arrowB-0  { height:20px; width:18px; background-position:-134px -41px;}
.ico-ex.btn18-arrowB-f  { height:20px; width:18px; background-position:-78px -41px;}
.ico-ex.btn18-arrowL-0  { height:21px; width:18px; background-position:-18px -83px;}
.ico-ex.btn18-arrowL-f  { height:21px; width:18px; background-position:0 -151px;}
.ico-ex.btn18-arrowR-0  { height:21px; width:18px; background-position:0 -175px;}
.ico-ex.btn18-arrowR-f  { height:21px; width:18px; background-position:0 -83px;}
.ico-ex.btn18-arrowT-0  { height:20px; width:19px; background-position:-96px -41px;}
.ico-ex.btn18-arrowT-f  { height:20px; width:18px; background-position:-188px -41px;}
.ico-ex.btn18-cross-0   { height:20px; width:18px; background-position:-170px -41px;}
.ico-ex.btn18-cross-f   { height:20px; width:18px; background-position:-152px -41px;}
.ico-ex.btn18-edit-0    { height:20px; width:19px; background-position:-115px -41px;}
.ico-ex.btn18-edit-f    { height:20px; width:19px; background-position:-108px -61px;}
.ico-ex.cart            { height:20px; width:20px; background-position:-88px -61px;}
.ico-ex.caution-arrowR14{ height:14px; width:14px; background-position:-6px -22px;}
.ico-ex.caution-arrowR16{ height:16px; width:16px; background-position:-16px 0;}
.ico-ex.caution14       { height:14px; width:14px; background-position:-20px -22px;}
.ico-ex.caution16       { height:16px; width:16px; background-position:0 0;}
.ico-ex.guide-coin      { height:66px; width:66px; background-position:-114px -575px;}
.ico-ex.guide-majior    { height:66px; width:66px; background-position:-154px -83px;}
.ico-ex.guide-pack      { height:66px; width:66px; background-position:-88px -83px;}
.ico-ex.guide-re        { height:66px; width:66px; background-position:-133px -641px;}
.ico-ex.guide-register  { height:66px; width:66px; background-position:-96px -301px;}
.ico-ex.guide-truck     { height:66px; width:66px; background-position:-114px -175px;}
.ico-ex.home            { height:19px; width:22px; background-position:-34px -61px;}
.ico-ex.rankhead-01     { height:42px; width:222px; background-position:0 -371px;}
.ico-ex.rankhead-02     { height:42px; width:222px; background-position:0 -455px;}
.ico-ex.rankhead-03     { height:42px; width:222px; background-position:0 -413px;}
.ico-ex.rankhead-04     { height:78px; width:90px; background-position:-90px -719px;}
.ico-ex.rankhead-05     { height:78px; width:90px; background-position:-90px -797px;}
.ico-ex.rankhead-06     { height:78px; width:90px; background-position:0 -719px;}
.ico-ex.rankhead-07     { height:78px; width:90px; background-position:0 -797px;}
.ico-ex.rankhead-08     { height:78px; width:90px; background-position:0 -497px;}
.ico-ex.rankhead-09     { height:78px; width:90px; background-position:-90px -497px;}
.ico-ex.rankhead-10     { height:78px; width:90px; background-position:0 -875px;}
.ico-ex.ribbon-price-p  { height:68px; width:52px; background-position:-36px -83px;}
.ico-ex.ribbon-price    { height:70px; width:52px; background-position:-162px -301px;}
.ico-ex.ul-bullet       { height:15px; width:15px; background-position:-34px -22px;}
.ico-ex.yb-search       { height:78px; width:133px; background-position:0 -641px;}
.ico-16                 { background-image:url(../img/ico-16/0-s02ad91ecda.png); margin-right:6.4px;}
.ico-16.nomargin        { margin-right:0;}
.ico-16.margin-left     { margin-right:0; margin-left:6.4px;}
.ico-16.arrowB          { height:16px; width:16px; background-position:0 0;}
.ico-16.arrowL          { height:16px; width:16px; background-position:-46px 0;}
.ico-16.arrowR          { height:16px; width:16px; background-position:-92px 0;}
.ico-16.arrowT          { height:16px; width:16px; background-position:-138px 0;}
.ico-16.dialog          { height:16px; width:16px; background-position:-184px 0;}
.ico-16.external        { height:16px; width:16px; background-position:-230px 0;}
.ico-16.question        { height:16px; width:16px; background-position:-276px 0;}
.ico-16.cross           { background-image:url(../img/ico-16/0/cross.png); height:16px; width:16px;}
a:hover .ico-16,
.selected>.ico-16,
.active>.ico-16,
.current>.ico-16,
.ico-16.accent          { background-image:url(../img/ico-16/a-s2389ed3628.png);}
.ico-16.white,
a:hover .ico-16.white   { background-image:url(../img/ico-16/f-s92a70ad87b.png);}
.ico-14                 { background-image:url(../img/ico-14/0-sac508b0760.png); margin-right:5.6px;}
.ico-14.nomargin        { margin-right:0;}
.ico-14.margin-left     { margin-right:0; margin-left:5.6px;}
.ico-14.arrowB          { height:14px; width:14px; background-position:0 0;}
.ico-14.arrowL          { height:14px; width:14px; background-position:-44px 0;}
.ico-14.arrowR          { height:14px; width:14px; background-position:-88px 0;}
.ico-14.arrowT          { height:14px; width:14px; background-position:-132px 0;}
.ico-14.dialog          { height:14px; width:14px; background-position:-176px 0;}
.ico-14.external        { height:14px; width:14px; background-position:-220px 0;}
.ico-14.question        { height:14px; width:14px; background-position:-264px 0;}
.ico-14.zoom            { height:14px; width:14px; background-position:-308px 0;}
a:hover .ico-14,
.selected>.ico-14,
.active>.ico-14,
.current>.ico-14,
.ico-14.accent              { background-image:url(../img/ico-14/a-sbf0e9a7ff5.png);}
.ico-14.white,
a:hover .ico-14.white       { background-image:url(../img/ico-14/f-s989f16be4f.png);}
.tx-btn                     { margin-right:.4em; margin-left:.4em; background-image:url(../img/tx-btn-s60e8ebc56d.png);}
.tx-btn .nomargin           { margin-right:0; margin-left:0;}
.tx-btn.s13-next            { height:15px; width: 28px; background-position:0 -1837px;}
.tx-btn.s14-login           { height:15px; width: 86px; background-position:0 -1746px;}
.tx-btn.s14-mypage          { height:15px; width: 86px; background-position:0 -1654px;}
.tx-btn.s14-registration    { height:15px; width: 86px; background-position:0 -1185px;}
.tx-btn.s16-chkandupd       { height:17px; width: 77px; background-position:0 -1324px;}
.tx-btn.s16-chkdetail       { height:17px; width:111px; background-position:0 -749px;}
.tx-btn.s16-close           { height:16px; width: 48px; background-position:0 -1608px;}
.tx-btn.s16-del             { height:17px; width: 34px; background-position:0 -1699px;}
.tx-btn.s16-matomete        { height:28px; width: 89px; background-position:0 -498px;}
.tx-btn.s16-next            { height:17px; width: 65px; background-position:0 -1513px;}
.tx-btn.s16-openform        { height:16px; width: 92px; background-position:0 -1371px;}
.tx-btn.s16-openform2       { height:17px; width:308px; background-position:0 0;}
.tx-btn.s16-payftcard       { height:17px; width:139px; background-position:0 -1138px;}
.tx-btn.s16-search          { height:16px; width: 31px; background-position:0 -1791px;}
.tx-btn.s16-searchfromtop   { height:17px; width:283px; background-position:0 -162px;}
.tx-btn.s16-searchotheritem { height:17px; width:118px; background-position:0 -897px;}
.tx-btn.s16-send            { height:17px; width:104px; background-position:0 -1230px;}
.tx-btn.s16-tocheckout      { height:17px; width: 99px; background-position:0 -1277px;}
.tx-btn.s16-toinquiry       { height:23px; width:175px; background-position:0 -844px;}
.tx-btn.s18-add             { height:19px; width:170px; background-position:0 -604px;}
.tx-btn.s18-agreenext       { height:18px; width:145px; background-position:0 -701px;}
.tx-btn.s18-backtotop       { height:19px; width:288px; background-position:0 -257px;}
.tx-btn.s18-check           { height:18px; width:173px; background-position:0 -354px;}
.tx-btn.s18-checkupdates    { height:18px; width:173px; background-position:0 -402px;}
.tx-btn.s18-delete          { height:18px; width: 70px; background-position:0 -1465px;}
.tx-btn.s18-next            { height:18px; width: 73px; background-position:0 -1560px;}
.tx-btn.s18-order           { height:19px; width:125px; background-position:0 -1089px;}
.tx-btn.s18-payftcard       { height:18px; width:158px; background-position:0 -993px;}
.tx-btn.s18-recievemail0    { height:18px; width:182px; background-position:0 -450px;}
.tx-btn.s18-recievemail1    { height:18px; width:164px; background-position:0 -556px;}
.tx-btn.s18-regaddr         { height:18px; width:214px; background-position:0 -114px;}
.tx-btn.s18-send            { height:19px; width:123px; background-position:0 -944px;}
.tx-btn.s18-signup          { height:18px; width:159px; background-position:0 -653px;}
.tx-btn.s18-tocart          { height:37px; width:165px; background-position:0 -47px;}
.tx-btn.s18-tocheckout      { height:18px; width:115px; background-position:0 -1041px;}
.tx-btn.s18-toinquiry       { height:18px; width:215px; background-position:0 -209px;}
.tx-btn.s18-update          { height:18px; width:170px; background-position:0 -796px;}
.tx-btn.s18-updatemember    { height:18px; width:173px; background-position:0 -306px;}
.tx-btn.s18-withdraw        { height:18px; width: 71px; background-position:0 -1417px;}
.tx-active                  { background-image:url(../img/tx-active/0-sa29c399265.png);}
.tx-active.s16-detail       { height:17px; width: 65px; background-position:0 -47px;}
.tx-active.s16-images       { height:17px; width: 65px; background-position:0 -188px;}
.tx-active.s16-overview     { height:17px; width: 65px; background-position:0 -141px;}
.tx-active.s16-related      { height:17px; width: 64px; background-position:0 -94px;}
.tx-active.s16-voices       { height:17px; width:81px; background-position:0 0;}
.txtimg.updatename{
    margin-right:0.4em;
    margin-left:0.4em;
    background-image: url(../img/tx-btn-updatename.png);
	background-repeat:no-repeat;
	display: inline-flex;
}
.txtimg.updateaddress{
    margin-right:0.4em;
    margin-left:0.4em;
    background-image: url(../img/tx-btn-updateaddress.png);
	background-repeat:no-repeat;
	display: inline-flex;
}
.txtimg.updatemailaddress{
    margin-right:0.4em;
    margin-left:0.4em;
    background-image: url(../img/tx-btn-updatemailaddress.png);
	background-repeat:no-repeat;
	display: inline-flex;
}
.txtimg.updatepassword{
    margin-right:0.4em;
    margin-left:0.4em;
    background-image: url(../img/tx-btn-updatepassword.png);
	background-repeat:no-repeat;
	display: inline-flex;
}
.selected .tx-active,
.active .tx-active,
.current .tx-active         { background-image:url(../img/tx-active/1-s024794944b.png);}
input[type=radio]+label,
.styledRadio+label          { cursor:pointer}
input {
	font-size:18px;
	line-height:40px;
	height:40px;
	color:#1a0f08;
	background:#fff;
	border:solid 1px #bab3ab;
	width:280px;
	padding:0 12px;
}
input:hover {
	color:#1a0f08;
	border-color:#807367;
	background:#fff url(../img/input-bg-hover.png) repeat-x;
}
input:focus {
	border-color:#db5d14;
	background:#fff url(../img/input-bg-hover.png) repeat-x;
}
input.placeholder, textarea.placeholder, .sbHolder.placeholder {
	color:#b1adab;
}
input.disabled, textarea.disabled, .sbHolder.sbHolderDisabled {
	border-style:dotted;
	border-color:#ccc2b8;
	background:#fff;
	color:#b1adab;
}
input.disabled:hover,
textarea.disabled:hover,
.sbHolder.sbHolderDisabled:hover           { background:#fff; border-color:#ccc2b8;}
.sbHolder.sbHolderDisabled a.sbSelector    { color:#b1adab;}
.sbHolder.sbHolderDisabled .sbToggle:hover { background-position:-1px -85px;}

.error input, .error textarea, .error .sbHolder, input.error, textarea.error, .sbHolder.error {
	border-color:#ff1500;
	background:#fff;
	color:#ff1500;
}
.error input:hover,
.error textarea:hover,
.error .sbHolder:hover,
input.error:hover,
textarea.error:hover,
.sbHolder.error:hover         { border-color:#ff1500;}
.error .sbHolder a.sbSelector,
.sbHolder.error a.sbSelector  { color:#ff1500;}
.sbHolder                     { width:304px;}
.sbSelector                   { width:264px;}
.sbOptions                    { width:304px;}
.sbHolder {
	font-size:18px;
	line-height:40px;
	height:40px;
	color:#1a0f08;
	background:#fff;
	border:solid 1px #bab3ab;
	font-weight:normal;
	height:40px;
	position:relative;
}
.sbHolder:hover {
	color:#1a0f08;
	border-color:#807367;
	background:url("../img/input-bg-hover.png") repeat-x;
}
.sbSelector {
	display:block;
	height:40px;
	line-height:40px;
	outline:none;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	text-indent:12px;
}
.sbSelector:link,
.sbSelector:visited,
.sbSelector:hover   { outline:none; text-decoration:none;}
.sbSelector.sbFocus { color:#1a0f08;}
.sbToggle {
	background:url("../img/form-select.png") -1px -85px no-repeat;
	display:block;
	outline:none;
	position:absolute;
	right:0px;
	top:0px;
	height:40px; width:40px;
}
.sbToggle:hover     { background:url(../img/form-select.png) -1px -127px no-repeat;}
.sbToggleOpen       { background:url(../img/form-select.png) -1px -1px no-repeat;}
.sbToggleOpen:hover { background:url(../img/form-select.png) -1px -43px no-repeat;}
.sbOptions {
	background-color:#fff;
	border:solid 1px #bab3ab;
	list-style:none;
	left:-1px;
	margin:0;
	padding:0;
	position:absolute;
	top:40px;
	z-index:2;
	overflow-y:auto;
}
.sbOptions a {
	border-bottom:solid 1px #e0dad3;
	display:block;
	outline:none;
	padding:7px 12px 6px 12px;
	line-height:1.4;
}
.sbOptions a:link,
.sbOptions a:visited   { text-decoration:none;}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus   { background:url(../img/bg-orange-a25.gif); color:#db5d14;}
.sbOptions li.last a   { border-bottom:none;}
.sbOptions .sbDisabled {
	display:block;
	border-bottom:solid 1px #ccc2b8;
	padding:7px 12px 6px 12px;
	line-height:1.4;
	background-color:#f2eeea;
	color:#4a1e04;
	font-size:16px;
}
.sbOptions .sbGroup {
	display:block;
	font-weight:bold
}
.modal-backdrop {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:9800;
	background-color:#1a0f08
}
.modal-backdrop.fade                     { filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);  opacity:0;}
.modal-backdrop, .modal-backdrop.fade.in { filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity:0.7;}
.modal,
.popmodal {
	width:auto;
	background-color:#fff;
	border:4px solid #4a1e04;
	outline:none;
}
.popmodal .modal-body {
    padding: 24px;
}
.modal {
	position:fixed;
	top:50%;
	left:50%;
	z-index:9900;
	width:714px;
	margin-left:-361px;
	-webkit-box-shadow:0 1px 18px rgba(48,30,17,0.72);
	-moz-box-shadow:0 1px 18px rgba(48,30,17,0.72);
	box-shadow:0 1px 18px rgba(48,30,17,0.72);
	-webkit-background-clip:padding;
	-moz-background-clip:padding;
	background-clip:padding-box;
}
.modal.fade {
	-webkit-transition-duration:0.28s;
	-moz-transition-duration:0.28s;
	-o-transition-duration:0.28s;
	transition-duration:0.28s;
}
.modal.modal-size-S  { width:594px; margin-left:-301px;}
.modal.modal-size-M2 { width:720px; margin-left:-364px;}
.modal.modal-size-L  { width:882px; margin-left:-445px;}
.modal.error-modal   { border-color:#ff1500;}
.modal.error-modal .modal-header,
.modal.error-modal .modal-footer { background:#fff1f0; border-color:#f7dfdc;}
.modal-header                    { padding:21px 30px 19px; background:#f2eeea; border-bottom:1px solid #e0dad3;}
.popmodal .modal-header          { padding:20px 30px 18px;}
.modal-header .close             { margin-top:-5px; margin-right:-12px; float:right;}
.modal-header h3,
.text-section .modal-header h3   {
	font-size:137.5%;
	font-weight:bold;
	line-height:1.5;
	background:transparent;
	border:none;
	padding:0;
	margin:0;
	letter-spacing:0;
}
.modal-body                 { padding: 24px 30px 30px; position:relative; overflow-y:auto;}
.modal-body-iwrap           { /*padding:24px 30px 30px;*/ position:relative;}
.popmodal .modal-body       { padding: 24px;}
.popmodal .modal-body-iwrap { padding:24px 24px 24px;}
.modal-form                 { margin-bottom:0;}
.modal-footer               { padding:15px 30px; border-top:1px solid #e0dad3; background:#f2eeea;}
.popmodal-arrow             { position:absolute; width:0; height:0; border-color:transparent; border-style:solid; display:block;}
.popmodal                   { position:relative; margin-top:12px;}
.popmodal .popmodal-arrow   { top:-12px; left:30px; margin-left:-12px; border-width:0 12px 12px; border-bottom-color:#4a1e04;}
.tooltip        {
	position:absolute;
	z-index:5000;
	display:block;
	visibility:visible;
	padding:12px;
	font-size:14px;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0;
	top: 8px;
	left: -242px;
}
.tooltip.in     { filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=82); opacity:0.82;}
.tooltip.top    { margin-top:-3px;}
.tooltip.right  { margin-left:3px;}
.tooltip.bottom { margin-top:3px;}
.tooltip.left   { margin-left:-3px;}
.tooltip-inner  {
	max-width:252px;
	padding:14px 18px;
	color:#fff;
	font-weight:bold;
	text-align:left;
	text-decoration:none;
	background-color:#1a0f08;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0;}
.tooltip-arrow                 { position:absolute; width:0; height:0; border-color:transparent; border-style:solid;}
.tooltip.top .tooltip-arrow    { bottom:0; left:50%; margin-left:-12px; border-width:12px 12px 0; border-top-color:#1a0f08;}
.tooltip.right .tooltip-arrow  { top:50%; left:0; margin-top:-12px; border-width:12px 12px 12px 0; border-right-color:#1a0f08;}
.tooltip.left .tooltip-arrow   { top:50%; right:0; margin-top:-12px; border-width:12px 0 12px 12px; border-left-color:#1a0f08;}
.tooltip.bottom .tooltip-arrow { top:0; left:50%; margin-left:-12px; border-width:0 12px 12px; border-bottom-color:#1a0f08;}

/* 2016.10.18 */
.tooltip-close                 { display:block; float:right; width:44px; height:44px; margin:0 0 10px 15px; position:relative; font-size:10px; color:#1a0f08; text-decoration:none; background:#fff; }
.tooltip-close:hover,
.tooltip-close:active,
.tooltip-close:visited				 { font-size:10px; color:#1a0f08; text-decoration:none; }
.tooltip-close > span          { display:block; width:100%; text-align:center; position:absolute; bottom:0; left:0; }
.tooltip-close:before,
.tooltip-close:after           { content:""; display:block; width:30px; height:2px; background:#1a0f08; position:absolute; top:15px; left:7px; }
.tooltip-close:before          { -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -o-transform:rotate(45deg); ms-transform:rotate(45deg); transform:rotate(45deg); }
.tooltip-close:after           { -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -o-transform:rotate(-45deg); -ms-transform:rotate(-45deg); transform:rotate(-45deg); }
/* 2016.10.18 End */

.ofh,
.text-section .wrap            { overflow:hidden;}
.pagetop,
.tabtop                        { text-align:right;}
.tab-content .tab-pane         { display:none;}
.tab-content .tab-pane.active  {	display:block;}
.additional-balloon            { position:absolute;}
.balloon-wrap                  { display:block; position:relative;}
img.bd1-c10                    { border:1px solid #e0dad3;}
img.ico-img-S                  { height: 16px; 	width: 34px; float:left; margin-left:1px;}