.pie, #buyBox .bb-footer .cart-body {
	position:relative
}
.tcol-white, #buyBox .bb-header, #buyBox .bb-footer .cart-head {
	color:#fff
}
.tcol-white a, #buyBox .bb-header a, #buyBox .bb-footer .cart-head a {
	color:#fff
}
.tcol-white a:hover, #buyBox .bb-header a:hover, #buyBox .bb-footer .cart-head a:hover {
	color:#e2dcd5
}
.tcol-white a:active, #buyBox .bb-header a:active, #buyBox .bb-footer .cart-head a:active {
	color:#f2eeea
}
.tcol-default {
	color:#1a0f08
}
.tcol-default a {
	color:#451100
}
.tcol-default a:hover {
	color:#db5d14
}
.tcol-default a:active {
	color:#f76b00
}
.tcol-error {
	color:#ff1500
}
.tcol-error a {
	color:#ff1500
}
.tcol-error a:hover {
	color:#cc1a0a
}
.tcol-error a:active {
	color:#cc1a0a
}
.cfx {
*zoom:1
}
.cfx:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
	overflow:hidden;
	visibility:hidden
}
.clearfix, #itemDetail #pageTitles .badges, #itemDetail #pageTitles .nav-tabs, .clm2-detail .tab-pane .tab-nav {
	overflow:hidden;
*zoom:1
}
.txtimg, .ifs-direction-nav .ifs-prev, .ifs-direction-nav .ifs-next, #buyBox .bb-body #addToCartBtns .no-stock button, #buyBox .bb-body #addToCartBtns .no-stock-all button {
	overflow:hidden;
	position:relative;
	display:inline-block;
	text-indent:100%;
	white-space:nowrap;
	zoom:1;
*text-indent:0;
*font-size:0;
*line-height:0;
*display:inline
}
.section-header-text, #itemDetail #pageTitles h1 {
	color:#331906;
	font-size:24px;
	padding-bottom:7px;
	font-weight:bold;
	letter-spacing:1px
}
.cart-table, #buyBox .bb-footer table {
	width:100%;
	margin-bottom:11px
}
.cart-table tr, #buyBox .bb-footer table tr {
	width:100%
}
.cart-table th, #buyBox .bb-footer table th, .cart-table td, #buyBox .bb-footer table td {
	padding-top:5px;
	border-bottom:1px solid #e0dad3
}
.cart-table td, #buyBox .bb-footer table td {
	text-align:right
}
#itemDetail .breadclumbs.bg10 {
	border-top:1px solid #e0dad3;
	background:#f2eeea
}
#itemDetail #pageTitles {
	background:#f2eeea url("../img/sdw-detail-bgT.png") repeat-x left bottom
}
#itemDetail #pageTitles header, #itemDetail #pageTitles .nav-tabs {
	width:610px
}
#itemDetail #pageTitles .badges {
	padding-bottom:6px
}
#itemDetail #pageTitles .badges mark {
	display:block;
	float:left;
	margin-right:6px
}
#itemDetail #pageTitles h1 {
	padding-bottom:9px
}
#itemDetail #pageTitles .nav-tabs li {
	display:block;
	float:left;
	margin-right:7px
}
#itemDetail #pageTitles .nav-tabs li.disabled, #itemDetail #pageTitles .nav-tabs li.hide {
	display:none
}
#itemDetail #pageTitles .nav-tabs li a {
	display:block;
	background:url("../img/tab-detail.png") no-repeat left top;
	width:115px;
	height:54px;
	margin-bottom:1px;
	text-align:center
}
#itemDetail #pageTitles .nav-tabs li a .text {
	margin-top:19px
}
#itemDetail #pageTitles .nav-tabs li a:hover {
	background-position:left -60px
}
#itemDetail #pageTitles .nav-tabs li a:active {
	background-position:left -120px
}
#itemDetail #pageTitles .nav-tabs li.active a {
	margin-top:1px;
	margin-bottom:0px;
	background-position:left -180px
}
.clm2-detail {
	padding-bottom:62px;
	background:url("../img/sdw-detail-bgB.png") repeat-x left bottom
}
.clm2-detail .tab-content {
	width:606px
}
.clm2-detail .tab-pane .tab-nav {
	margin:18px auto
}
.clm2-detail .tab-pane .tab-inner {
	width:546px;
	margin:0 auto 0
}
.clm2-detail .tab-pane .rhead18 {
	margin-bottom:6px
}
.clm2-detail .tab-pane .voices-list li {
	display:block;
	margin-bottom:1em;
	border-bottom:1px solid #e0dad3
}
.clm2-detail .tab-pane .voices-list li h3 {
	font-weight:bold;
	color:#331906;
	font-size:93.75%;
	margin-bottom:.8em
}
.clm2-detail .tab-pane .voices-list li h3 .name {
	font-size:106.67%
}
.clm2-detail .tab-pane .voices-list li p {
	margin-bottom:.8em
}
.ifs-direction-nav {
	position:absolute;
	top:0;
	left:0;
	overflow:visible;
	width:100%
}
.ifs-direction-nav .ifs-prev, .ifs-direction-nav .ifs-next {
	position:absolute;
	display:block;
	top:0;
	width:42px;
	background:url("../img/btn-slidectrl-M.png") no-repeat left top
}
.ifs-direction-nav .ifs-prev {
	left:0
}
.ifs-direction-nav .ifs-next {
	right:0
}
.ifs {
	position:relative;
	padding:0 42px
}
.ifs .ifs-direction-nav .ifs-prev, .ifs .ifs-direction-nav .ifs-next {
	height:258px
}
.ifs .ifs-direction-nav .ifs-prev {
	background:url("../img/btn-slidectrl-M.png") left top
}
.ifs .ifs-direction-nav .ifs-prev:hover {
	background-position:left -264px
}
.ifs .ifs-direction-nav .ifs-prev:active {
	background-position:left -528px
}
.ifs .ifs-direction-nav .ifs-prev.ifs-disabled {
	background-position:left -792px
}
.ifs .ifs-direction-nav .ifs-next {
	background:url("../img/btn-slidectrl-M.png") -60px top
}
.ifs .ifs-direction-nav .ifs-next:hover {
	background-position:-60px -264px
}
.ifs .ifs-direction-nav .ifs-next:active {
	background-position:-60px -528px
}
.ifs .ifs-direction-nav .ifs-next.ifs-disabled {
	background-position:-60px -792px
}
.ifs.ifs-size-S .ifs-direction-nav .ifs-prev, .ifs.ifs-size-S .ifs-direction-nav .ifs-next {
	height:78px
}
.ifs.ifs-size-S .ifs-direction-nav .ifs-prev {
	background:url("../img/btn-slidectrl-S.png") left top
}
.ifs.ifs-size-S .ifs-direction-nav .ifs-prev:hover {
	background-position:left -84px
}
.ifs.ifs-size-S .ifs-direction-nav .ifs-prev:active {
	background-position:left -168px
}
.ifs.ifs-size-S .ifs-direction-nav .ifs-prev.ifs-disabled {
	background-position:left -252px
}
.ifs.ifs-size-S .ifs-direction-nav .ifs-next {
	background:url("../img/btn-slidectrl-S.png") -60px top
}
.ifs.ifs-size-S .ifs-direction-nav .ifs-next:hover {
	background-position:-60px -84px
}
.ifs.ifs-size-S .ifs-direction-nav .ifs-next:active {
	background-position:-60px -168px
}
.ifs.ifs-size-S .ifs-direction-nav .ifs-next.ifs-disabled {
	background-position:-60px -252px
}
.ifs.ifs-size-L .ifs-direction-nav .ifs-prev, .ifs.ifs-size-L .ifs-direction-nav .ifs-next {
	height:330px
}
.ifs.ifs-size-L .ifs-direction-nav .ifs-prev {
	background:url("../img/btn-slidectrl-L.png") left top
}
.ifs.ifs-size-L .ifs-direction-nav .ifs-prev:hover {
	background-position:left -336px
}
.ifs.ifs-size-L .ifs-direction-nav .ifs-prev:active {
	background-position:left -672px
}
.ifs.ifs-size-L .ifs-direction-nav .ifs-prev.ifs-disabled {
	background-position:left -1008px
}
.ifs.ifs-size-L .ifs-direction-nav .ifs-next {
	background:url("../img/btn-slidectrl-L.png") -60px top
}
.ifs.ifs-size-L .ifs-direction-nav .ifs-next:hover {
	background-position:-60px -336px
}
.ifs.ifs-size-L .ifs-direction-nav .ifs-next:active {
	background-position:-60px -672px
}
.ifs.ifs-size-L .ifs-direction-nav .ifs-next.ifs-disabled {
	background-position:-60px -1008px
}
.ifs-w546 {
	width:450px;
	padding:0 48px
}
.ifs-wi5 {
	width:890px;
	padding:0 42px 0 46px
}
.ifs-wi4 {
	width:712px;
	padding:0 42px 0 46px
}
.ifs-sp-tooltip {
	display:none;
	text-align:center;
	position:relative;
	margin-top:12px;
	background:#fff;
	width:100%;
	background:#fff;
	border:1px solid #ccc2b8;
	border-radius:3px;
	color:#1a0f08
}
.ifs-sp-tooltip.active {
	display:block
}
.ifs-sp-tooltip .inner {
	display:block;
	padding:9px 10px;
	word-wrap:break-word;
	overflow-wrap:break-word
}
.ifs-sp-tooltip .inner:before, .ifs-sp-tooltip .inner:after {
	content:"";
	display:block;
	width:0;
	height:0;
	border:10px solid transparent;
	position:absolute;
	left:50%;
	margin-left:-10px
}
.ifs-sp-tooltip .inner:before {
	border-bottom:10px solid #ccc2b8;
	z-index:2;
	top:-20px
}
.ifs-sp-tooltip .inner:after {
	border-bottom:10px solid #fff;
	z-index:3;
	top:-18px
}
.rel-items-carousel .item-list.size-S li {
	margin:0 0 0 0px
}
.thumb78 {
	position:relative;
	border:1px solid #e0dad3;
	overflow:hidden
}
.thumb78, .thumb78 .frame {
	display:block;
	width:78px;
	height:78px
}
.thumb78 .frame {
	position:absolute;
	top:0px;
	left:0px
}
.thumb78:hover .frame {
	background:url("../img/img-hover78.png") no-repeat
}
.ifs-active-slide .thumb78 .frame, .thumb-selected .thumb78 .frame {
	background:url("../img/img-hover78.png") no-repeat left -78px
}
.thumb78 img {
	margin:0 auto;
	vertical-align:bottom
}
.slides.thumbs li {
	display:block;
	float:left;
	padding:0 5px
}
.slides.thumbs li:first-child {
	margin-left:0
}
.slides.large-images li {
	width:438px;
	height:328px;
	overflow:hidden;
	text-align:center
}
.slides.large-images li img {
	display:block;
	padding:1px 6px;
	margin:0 auto
}
#buyBox {
	margin-top:0px;
	margin-bottom:-50px;
	width:336px
}
#buyBox .bb-header {
	position:relative;
	padding:13px 30px 12px 0;
	background:url("../img/bg-buybox.png") left top no-repeat;
	text-align:right
}
#buyBox .bb-header h3 {
	vertical-align:baseline;
	position:absolute;
	left:24px;
	top:0
}
#buyBox .bb-header p.price, #buyBox .bb-header p.discount {
	padding-left:80px;
	word-wrap:break-word;
	overflow-wrap:break-word
}
#buyBox .bb-header p.discount strike {
	color:#e2dcd5
}
#buyBox .bb-header p.price {
	font-size:162.5%;
	line-height:1.33em;
	letter-spacing:1px
}
#buyBox .bb-body {
	padding:18px 30px;
	background:#fff;
	border:1px solid #ccc2b8
}
#buyBox .bb-body .rhead18 {
	margin-bottom:6px
}
#buyBox .bb-body .sbHolder {
	width:274px
}
#buyBox .bb-body .sbSelector {
	width:234px
}
#buyBox .bb-body .sbOptions {
	width:274px
}
#buyBox .bb-body #qtySelectArea {
	width:138px;
	padding-right:15px
}
#buyBox .bb-body #qtySelectArea .sbHolder {
	width:136px
}
#buyBox .bb-body #qtySelectArea .sbSelector {
	width:96px
}
#buyBox .bb-body #qtySelectArea .sbOptions {
	width:136px
}
#buyBox .bb-body .stock-badges {
	position:absolute;
	top:30px
}
#buyBox .bb-body .stock-badges .badge-stock2 {
	display:none !important
}
#buyBox .bb-body #addToCartBtns {
	position:relative
}
#buyBox .bb-body #addToCartBtns .in-stock .btn {
	padding-left:0;
	padding-right:0;
	width:274px;
	margin-bottom:6px
}
#buyBox .bb-body #addToCartBtns .no-stock button, #buyBox .bb-body #addToCartBtns .no-stock-all button {
	border:0;
	padding:0;
	width:276px;
	height:60px;
	margin-bottom:6px;
	display:none
}
#buyBox .bb-body #addToCartBtns .no-stock button {
	background:transparent url("../img/dbtn-stock-0.png") no-repeat
}
#buyBox .bb-body #addToCartBtns .no-stock-all button {
	background:transparent url("../img/dbtn-stock-0a.png") no-repeat
}
#buyBox .bb-body .balloon, #buyBox .bb-body .err-balloon {
	background:url("../img/balloon-detail-sb.png") left top no-repeat;
	width:240px;
	padding:25px 18px 11px;
	border-bottom:1px solid #e0dad3;
	text-align:center;
	margin-bottom:18px
}
#buyBox .bb-body .err-balloon {
	background-image:url("../img/balloon-detail-sb-err.png");
	font-weight:bold;
	text-align:left;
	border-bottom:3px solid #ff1500;
	color:#ff1500
}
#buyBox .bb-body .err-balloon a {
	color:#ff1500
}
#buyBox .bb-body .err-balloon a:hover {
	color:#cc1a0a
}
#buyBox .bb-footer {
	background:url("../img/bg-buybox.png") left bottom no-repeat;
	padding-bottom:12px
}
#buyBox .bb-footer .cart-head {
	display:block;
	text-align:center;
	padding:9px 0
}
#buyBox .bb-footer .cart-body {
	background:#fff;
	-webkit-border-radius:9px;
	-moz-border-radius:9px;
	-ms-border-radius:9px;
	-o-border-radius:9px;
	border-radius:9px;
	padding:10px 18px;
	margin:0 12px
}
#buyBox .bb-footer .btn {
	padding-left:0;
	padding-right:0;
	width:274px
}
#added2cartModal .item-box {
	float:left;
	border:1px solid #e0dad3;
	border-left:none;
	border-right:none;
	padding:12px;
	width:463px
}
#added2cartModal .cart-box {
	float:right;
	position:relative
}
#added2cartModal .cart-box .shopping-cart {
	position:relative
}
#added2cartModal .cart-box .btn {
	padding-left:0;
	padding-right:0;
	width:250px
}
#added2cartModal .cart-box .btn-searchotheritem {
	margin:9px 0 12px 12px
}
