@charset "shift_jis";

/* --------------------------------------------------------------------
	common　汎用クラス
-------------------------------------------------------------------- */
.pie {
	position:relative
}
.tcol-white            { color:#fff;}
.tcol-white a          { color:#fff;}
.tcol-white a:hover    { color:#e2dcd5;}
.tcol-white a:active   { color:#f2eeea;}
.tcol-default          { color:#1a0f08;}
.tcol-default a        { color:#451100;}
.tcol-default a:hover  { color:#db5d14;}
.tcol-default a:active { color:#f76b00;}
.tcol-error            { color:#ff1500;}
.tcol-error a          { color:#ff1500;}
.tcol-error a:hover    { color:#cc1a0a;}
.tcol-error a:active   { color:#cc1a0a;}
.cfx {
*zoom:1
}
.cfx:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
	overflow:hidden;
	visibility:hidden
}
.clearfix {
	overflow:hidden;
*zoom:1
}
.txtimg {
	overflow:hidden;
	position:relative;
	display:inline-block;
	text-indent:100%;
	white-space:nowrap;
	zoom:1;
*text-indent:0;
*font-size:0;
*line-height:0;
*display:inline
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, 
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font:inherit;
	font-size:100%;
	vertical-align:baseline
}
html {
	line-height:1
}
ol, ul {
	list-style:none
}
table {
	border-collapse:collapse;
	border-spacing:0
}
caption, th, td {
	text-align:left;
	font-weight:normal;
	vertical-align:middle
}
q, blockquote {
	quotes:none
}
q:before, q:after, blockquote:before, blockquote:after {
	content:"";
	content:none
}
a img {
	border:none
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display:block
}
button, input, textarea, select {
	margin:0;
	padding:0
}
button {
	overflow:visible
}
button::-moz-focus-inner {
	border:0;
	padding:0;
}
em, strong, b {
	font-weight:bold
}
mark {
	background-color:transparent
}
a {
	outline:none
}

.leftfloat_    { float: left; display: inline;}
.rightfloat_   { float: right; display: inline;}
img.leftfloat_ { margin: 0 10px 10px 0;}
img.rightfloat_{ margin: 0 0 10px 10px;}
.clear_     { clear:both;}
.lefttext_  { text-align:left;}
.righttext_ { text-align:right;}
.centertext_{ text-align:center;}

.ta-left   { text-align:left;}
.ta-right  { text-align:right;}
.ta-center { text-align:center;}
.va-top    { vertical-align:top;}
.va-bottom { vertical-align:bottom;}
.va-middle { vertical-align:middle;}
.ta-leftF  { text-align:left !important;}
.ta-rightF { text-align:right !important;}
.ta-centerF{ text-align:center !important;}
.va-topF   { vertical-align:top !important;}
.va-bottomF{ vertical-align:bottom !important;}
.va-middleF{ vertical-align:middle !important;}
.mt0F      { margin-top:0 !important;}
.mr0F      { margin-right:0 !important;}
.mb0F      { margin-bottom:0 !important;}
.ml0F      { margin-left:0 !important;}
.pt0F      { padding-top:0 !important;}
.pr0F      { padding-right:0 !important;}
.pb0F      { padding-bottom:0 !important;}
.pl0F      { padding-left:0 !important;}
.block     { display:block}
.hide      { display:none;}
.hideF     { display:none !important;}

.fade {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0;
	-webkit-transition:opacity 180ms linear;
	-moz-transition:opacity 180ms linear;
	-o-transition:opacity 180ms linear;
	transition:opacity 180ms linear;
}
.fade.in {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity:1
}
.left     { float:left;}
.right    { float:right;}
.relative { position:relative;}
.absolute {	position:absolute;}
.nowrap   { white-space:nowrap;}

.nowrap:before {
	content:" ";
	width:0;
	font-size:0;
	display:block
}
.iblock {
	display:inline-block;
*display:inline;
*zoom:1
}
.mh-auto {
	margin-left:auto;
	margin-right:auto
}
.txtimg {
	overflow:hidden;
	position:relative;
	display:inline-block;
	text-indent:100%;
	white-space:nowrap;
	zoom:1;
*text-indent:0;
*font-size:0;
*line-height:0;
*display:inline
}
.hidden-box {
	display:block;
	position:absolute;
	overflow:hidden;
	height:0;
	width:0;
	text-indent:-9999px;
	text-align:left;
	white-space:nowrap;
*text-indent:0;
*font-size:0;
*line-height:0
}
sup, sub {
	height:0;
	line-height:1;
	vertical-align:baseline;
	_vertical-align:bottom;
	position:relative
}
sup {
	bottom:1ex
}
sub {
	top:.5ex
}
html[xmlns]>body sup {
	line-height:9px
}
hr {
	height:0px;
	margin:0;
	border:none
}
* html hr {
	margin:0
}
*:first-child+html hr {
	margin:0
}
.ls-1    { letter-spacing:-1px;}
.ls1     { letter-spacing:1px;}
.ls2     { letter-spacing:2px;}
.ls3     { letter-spacing:3px;}
.mv-g1   { margin-top:6px; margin-bottom:6px;}
.mh-g1   { margin-right:6px; margin-left:6px;}
.mt-g1   { margin-top:6px;}
.mr-g1   { margin-right:6px;}
.mb-g1   { margin-bottom:6px;}
.ml-g1   { margin-left:6px;}
.mt-g-1  { margin-top:-6px;}
.mr-g-1  { margin-right:-6px;}
.mb-g-1  { margin-bottom:-6px;}
.ml-g-1  { margin-left:-6px;}
.pv-g1   { padding-top:6px; padding-bottom:6px;}
.ph-g1   { padding-right:6px; padding-left:6px;}
.pt-g1   { padding-top:6px;}
.pr-g1   { padding-right:6px;}
.pb-g1   { padding-bottom:6px;}
.pl-g1   { padding-left:6px;}
.mv-g2   { margin-top:12px; margin-bottom:12px;}
.mh-g2   { margin-right:12px; margin-left:12px;}
.mt-g2   { margin-top:12px;}
.mr-g2   { margin-right:12px;}
.mb-g2   { margin-bottom:12px;}
.ml-g2   { margin-left:12px;}
.mt-g-2  { margin-top:-12px;}
.mr-g-2  { margin-right:-12px;}
.mb-g-2  { margin-bottom:-12px;}
.ml-g-2  { margin-left:-12px;}
.pv-g2   { padding-top:12px; padding-bottom:12px;}
.ph-g2   { padding-right:12px; padding-left:12px;}
.pt-g2   { padding-top:12px;}
.pr-g2   { padding-right:12px;}
.pb-g2   { padding-bottom:12px;}
.pl-g2   { padding-left:12px;}
.mv-g3   { margin-top:18px; margin-bottom:18px;}
.mh-g3   { margin-right:18px; margin-left:18px;}
.mt-g3   { margin-top:18px;}
.mr-g3   { margin-right:18px;}
.mb-g3   { margin-bottom:18px;}
.ml-g3   { margin-left:18px;}
.mt-g-3  { margin-top:-18px;}
.mr-g-3  { margin-right:-18px;}
.mb-g-3  { margin-bottom:-18px;}
.ml-g-3  { margin-left:-18px;}
.pv-g3   { padding-top:18px; padding-bottom:18px;}
.ph-g3   { padding-right:18px; padding-left:18px;}
.pt-g3   { padding-top:18px;}
.pr-g3   { padding-right:18px;}
.pb-g3   { padding-bottom:18px;}
.pl-g3   { padding-left:18px;}
.mv-g4   { margin-top:24px; margin-bottom:24px;}
.mh-g4   { margin-right:24px; margin-left:24px;}
.mt-g4   { margin-top:24px;}
.mr-g4   { margin-right:24px;}
.mb-g4   { margin-bottom:24px;}
.ml-g4   { margin-left:24px;}
.mt-g-4  { margin-top:-24px;}
.mr-g-4  { margin-right:-24px;}
.mb-g-4  { margin-bottom:-24px;}
.ml-g-4  { margin-left:-24px;}
.pv-g4   { padding-top:24px; padding-bottom:24px;}
.ph-g4   { padding-right:24px; padding-left:24px;}
.pt-g4   { padding-top:24px;}
.pr-g4   { padding-right:24px;}
.pb-g4   { padding-bottom:24px;}
.pl-g4   { padding-left:24px;}
.mv-g5   { margin-top:30px; margin-bottom:30px;}
.mh-g5   { margin-right:30px; margin-left:30px;}
.mt-g5   { margin-top:30px;}
.mr-g5   { margin-right:30px;}
.mb-g5   { margin-bottom:30px;}
.ml-g5   { margin-left:30px;}
.mt-g-5  { margin-top:-30px;}
.mr-g-5  { margin-right:-30px;}
.mb-g-5  { margin-bottom:-30px;}
.ml-g-5  { margin-left:-30px;}
.pv-g5   { padding-top:30px; padding-bottom:30px;}
.ph-g5   { padding-right:30px; padding-left:30px;}
.pt-g5   { padding-top:30px;}
.pr-g5   { padding-right:30px;}
.pb-g5   { padding-bottom:30px;}
.pl-g5   { padding-left:30px;}
.mv-g6   { margin-top:36px; margin-bottom:36px;}
.mh-g6   { margin-right:36px; margin-left:36px;}
.mt-g6   { margin-top:36px;}
.mr-g6   { margin-right:36px;}
.mb-g6   { margin-bottom:36px;}
.ml-g6   { margin-left:36px;}
.mt-g-6  { margin-top:-36px;}
.mr-g-6  { margin-right:-36px;}
.mb-g-6  { margin-bottom:-36px;}
.ml-g-6  { margin-left:-36px;}
.pv-g6   { padding-top:36px; padding-bottom:36px;}
.ph-g6   { padding-right:36px; padding-left:36px;}
.pt-g6   { padding-top:36px;}
.pr-g6   { padding-right:36px;}
.pb-g6   { padding-bottom:36px;}
.pl-g6   { padding-left:36px;}
.mv-g7   { margin-top:42px; margin-bottom:42px;}
.mh-g7   { margin-right:42px; margin-left:42px;}
.mt-g7   { margin-top:42px;}
.mr-g7   { margin-right:42px;}
.mb-g7   { margin-bottom:42px;}
.ml-g7   { margin-left:42px;}
.mt-g-7  { margin-top:-42px;}
.mr-g-7  { margin-right:-42px;}
.mb-g-7  { margin-bottom:-42px;}
.ml-g-7  { margin-left:-42px;}
.pv-g7   { padding-top:42px;	padding-bottom:42px;}
.ph-g7   { padding-right:42px; padding-left:42px;}
.pt-g7   { padding-top:42px;}
.pr-g7   { padding-right:42px;}
.pb-g7   { padding-bottom:42px;}
.pl-g7   { padding-left:42px;}
.mv-g8   { margin-top:48px; margin-bottom:48px;}
.mh-g8   { margin-right:48px; margin-left:48px;}
.mt-g8   { margin-top:48px;}
.mr-g8   { margin-right:48px;}
.mb-g8   { margin-bottom:48px;}
.ml-g8   { margin-left:48px;}
.mt-g-8  { margin-top:-48px;}
.mr-g-8  { margin-right:-48px;}
.mb-g-8  { margin-bottom:-48px;}
.ml-g-8  { margin-left:-48px;}
.pv-g8   { padding-top:48px; padding-bottom:48px;}
.ph-g8   { padding-right:48px; padding-left:48px;}
.pt-g8   { padding-top:48px;}
.pr-g8   { padding-right:48px;}
.pb-g8   { padding-bottom:48px;}
.pl-g8   { padding-left:48px;}
.mv-g9   { margin-top:54px; margin-bottom:54px;}
.mh-g9   { margin-right:54px; margin-left:54px;}
.mt-g9   { margin-top:54px;}
.mr-g9   { margin-right:54px;}
.mb-g9   { margin-bottom:54px;}
.ml-g9   { margin-left:54px;}
.mt-g-9  { margin-top:-54px;}
.mr-g-9  { margin-right:-54px;}
.mb-g-9  { margin-bottom:-54px;}
.ml-g-9  { margin-left:-54px;}
.pv-g9   { padding-top:54px; padding-bottom:54px;}
.ph-g9   { padding-right:54px; padding-left:54px;}
.pt-g9   { padding-top:54px;}
.pr-g9   { padding-right:54px;}
.pb-g9   { padding-bottom:54px;}
.pl-g9   { padding-left:54px;}
.mv-g10  { margin-top:60px; margin-bottom:60px;}
.mh-g10  { margin-right:60px; margin-left:60px;}
.mt-g10  { margin-top:60px;}
.mr-g10  { margin-right:60px;}
.mb-g10  { margin-bottom:60px;}
.ml-g10  { margin-left:60px;}
.mt-g-10 { margin-top:-60px;}
.mr-g-10 { margin-right:-60px;}
.mb-g-10 { margin-bottom:-60px;}
.ml-g-10 { margin-left:-60px;}
.pv-g10  { padding-top:60px; padding-bottom:60px;}
.ph-g10  { padding-right:60px; padding-left:60px;}
.pt-g10  { padding-top:60px;}
.pr-g10  { padding-right:60px;}
.pb-g10  { padding-bottom:60px;}
.pl-g10  { padding-left:60px;}
table tr .w-p0, table td .w-p0   {width:0%;}
table tr .w-p1, table td .w-p1   { width:1%;}
table tr .w-p2, table td .w-p2   { width:2%;}
table tr .w-p3, table td .w-p3   { width:3%;}
table tr .w-p4, table td .w-p4   { width:4%;}
table tr .w-p5, table td .w-p5   { width:5%;}
table tr .w-p6, table td .w-p6   { width:6%;}
table tr .w-p7, table td .w-p7   { width:7%;}
table tr .w-p8, table td .w-p8   { width:8%;}
table tr .w-p9, table td .w-p9   { width:9%;}
table tr .w-p10, table td .w-p10 { width:10%;}
table tr .w-p11, table td .w-p11 { width:11%;}
table tr .w-p12, table td .w-p12 { width:12%;}
table tr .w-p13, table td .w-p13 { width:13%;}
table tr .w-p14, table td .w-p14 { width:14%;}
table tr .w-p15, table td .w-p15 { width:15%;}
table tr .w-p16, table td .w-p16 { width:16%;}
table tr .w-p17, table td .w-p17 { width:17%;}
table tr .w-p18, table td .w-p18 { width:18%;}
table tr .w-p19, table td .w-p19 { width:19%;}
table tr .w-p20, table td .w-p20 { width:20%;}
table tr .w-p21, table td .w-p21 { width:21%;}
table tr .w-p22, table td .w-p22 { width:22%;}
table tr .w-p23, table td .w-p23 { width:23%;}
table tr .w-p24, table td .w-p24 { width:24%;}
table tr .w-p25, table td .w-p25 { width:25%;}
table tr .w-p26, table td .w-p26 { width:26%;}
table tr .w-p27, table td .w-p27 { width:27%;}
table tr .w-p28, table td .w-p28 { width:28%;}
table tr .w-p29, table td .w-p29 { width:29%;}
table tr .w-p30, table td .w-p30 { width:30%;}
table tr .w-p31, table td .w-p31 { width:31%;}
table tr .w-p32, table td .w-p32 { width:32%;}
table tr .w-p33, table td .w-p33 { width:33%;}
table tr .w-p34, table td .w-p34 { width:34%;}
table tr .w-p35, table td .w-p35 { width:35%;}
table tr .w-p36, table td .w-p36 { width:36%;}
table tr .w-p37, table td .w-p37 { width:37%;}
table tr .w-p38, table td .w-p38 { width:38%;}
table tr .w-p39, table td .w-p39 { width:39%;}
table tr .w-p40, table td .w-p40 { width:40%;}
table tr .w-p41, table td .w-p41 { width:41%;}
table tr .w-p42, table td .w-p42 { width:42%;}
table tr .w-p43, table td .w-p43 { width:43%;}
table tr .w-p44, table td .w-p44 { width:44%;}
table tr .w-p45, table td .w-p45 { width:45%;}
table tr .w-p46, table td .w-p46 { width:46%;}
table tr .w-p47, table td .w-p47 { width:47%;}
table tr .w-p48, table td .w-p48 { width:48%;}
table tr .w-p49, table td .w-p49 { width:49%;}
table tr .w-p50, table td .w-p50 { width:50%;}
table tr .w-p51, table td .w-p51 { width:51%;}
table tr .w-p52, table td .w-p52 { width:52%;}
table tr .w-p53, table td .w-p53 { width:53%;}
table tr .w-p54, table td .w-p54 { width:54%;}
table tr .w-p55, table td .w-p55 { width:55%;}
table tr .w-p56, table td .w-p56 { width:56%;}
table tr .w-p57, table td .w-p57 { width:57%;}
table tr .w-p58, table td .w-p58 { width:58%;}
table tr .w-p59, table td .w-p59 { width:59%;}
table tr .w-p60, table td .w-p60 { width:60%;}
table tr .w-p61, table td .w-p61 { width:61%;}
table tr .w-p62, table td .w-p62 { width:62%;}
table tr .w-p63, table td .w-p63 { width:63%;}
table tr .w-p64, table td .w-p64 { width:64%;}
table tr .w-p65, table td .w-p65 { width:65%;}
table tr .w-p66, table td .w-p66 { width:66%;}
table tr .w-p67, table td .w-p67 { width:67%;}
table tr .w-p68, table td .w-p68 { width:68%;}
table tr .w-p69, table td .w-p69 { width:69%;}
table tr .w-p70, table td .w-p70 { width:70%;}
table tr .w-p71, table td .w-p71 { width:71%;}
table tr .w-p72, table td .w-p72 { width:72%;}
table tr .w-p73, table td .w-p73 { width:73%;}
table tr .w-p74, table td .w-p74 { width:74%;}
table tr .w-p75, table td .w-p75 { width:75%;}
table tr .w-p76, table td .w-p76 { width:76%;}
table tr .w-p77, table td .w-p77 { width:77%;}
table tr .w-p78, table td .w-p78 { width:78%;}
table tr .w-p79, table td .w-p79 { width:79%;}
table tr .w-p80, table td .w-p80 { width:80%;}
table tr .w-p81, table td .w-p81 { width:81%;}
table tr .w-p82, table td .w-p82 { width:82%;}
table tr .w-p83, table td .w-p83 { width:83%;}
table tr .w-p84, table td .w-p84 { width:84%;}
table tr .w-p85, table td .w-p85 { width:85%;}
table tr .w-p86, table td .w-p86 { width:86%;}
table tr .w-p87, table td .w-p87 { width:87%;}
table tr .w-p88, table td .w-p88 { width:88%;}
table tr .w-p89, table td .w-p89 { width:89%;}
table tr .w-p90, table td .w-p90 { width:90%;}
table tr .w-p91, table td .w-p91 { width:91%;}
table tr .w-p92, table td .w-p92 { width:92%;}
table tr .w-p93, table td .w-p93 { width:93%;}
table tr .w-p94, table td .w-p94 { width:94%;}
table tr .w-p95, table td .w-p95 { width:95%;}
table tr .w-p96, table td .w-p96 { width:96%;}
table tr .w-p97, table td .w-p97 { width:97%;}
table tr .w-p98, table td .w-p98 { width:98%;}
table tr .w-p99, table td .w-p99 { width:99%;}
.row {
	height:1%
}
.row-end {
	clear:both;
	font:1px/1px sans-serif;
	height:1px;
	overflow:hidden
}
.col, .col12, .col11, .col10, .col9, .col8, .col7, .col6, .col5, .col4, .col3, .col2, .col1 {
	float:left;
	margin-left:30px
}
.col:first-child, .col12:first-child, .col11:first-child, .col10:first-child, .col9:first-child, .col8:first-child, .col7:first-child, .col6:first-child, .col5:first-child, .col4:first-child, .col3:first-child, .col2:first-child, .col1:first-child {
	margin-left:0
}
.col12 { width:978px;}
.col11 { width:894px;}
.col10 { width:810px;}
.col9  { width:726px;}
.col8  { width:642px;}
.col7  { width:558px;}
.col6  { width:474px;}
.col5  { width:390px;}
.col4  { width:306px;}
.col3  { width:222px;}
.col2  { width:138px;}
.col1  { width: 54px;}
.w100p { width:100%;}

/* ---------------------------------------------------------------
	width height
--------------------------------------------------------------- */
/*width*/
.width_auto_ { width: auto!important;}
.width_full_ { width: 100%!important;}
.width20per_ { width: 20%!important;}
.width80per_ { width: 80%!important;}
.width00_    { width: 0px!important;}
.width01_    { width: 1px!important;}
.width02_    { width: 2px!important;}
.width03_    { width: 3px!important;}
.width04_    { width: 4px!important;}
.width05_    { width: 5px!important;}
.width06_    { width: 6px!important;}
.width07_    { width: 7px!important;}
.width08_    { width: 8px!important;}
.width09_    { width: 9px!important;}
.width10_    { width: 10px!important;}
.width11_    { width: 11px!important;}
.width12_    { width: 12px!important;}
.width13_    { width: 13px!important;}
.width14_    { width: 14px!important;}
.width15_    { width: 15px!important;}
.width16_    { width: 16px!important;}
.width17_    { width: 17px!important;}
.width18_    { width: 18px!important;}
.width19_    { width: 19px!important;}
.width20_    { width: 20px!important;}
.width25_    { width: 25px!important;}
.width30_    { width: 30px!important;}
.width35_    { width: 35px!important;}
.width40_    { width: 40px!important;}
.width45_    { width: 45px!important;}
.width50_    { width: 50px!important;}
.width100_   { width: 100px!important;}
.width150_   { width: 150px!important;}
.width200_   { width: 200px!important;}
.width250_   { width: 250px!important;}
.width300_   { width: 300px!important;}
.width350_   { width: 350px!important;}
.width400_   { width: 400px!important;}
.width450_   { width: 450px!important;}
.width500_   { width: 500px!important;}
.width550_   { width: 550px!important;}
.width600_   { width: 600px!important;}
.width650_   { width: 650px!important;}
.width700_   { width: 700px!important;}
.width720_   { width: 720px!important;}
.width750_   { width: 750px!important;}
.width800_   { width: 800px!important;}
.width850_   { width: 850px!important;}
.width900_   { width: 900px!important;}
.width950_   { width: 950px!important;}
.width960_   { width: 960px!important;}
.width1000_  { width: 1000px!important;}
/*height*/
.height_auto_{ height: auto!important;}
.height_full_{ height: 100%!important;}
.height00_   { height: 0px!important;}
.height01_   { height: 1px!important;}
.height02_   { height: 2px!important;}
.height03_   { height: 3px!important;}
.height04_   { height: 4px!important;}
.height05_   { height: 5px!important;}
.height06_   { height: 6px!important;}
.height07_   { height: 7px!important;}
.height08_   { height: 8px!important;}
.height09_   { height: 9px!important;}
.height10_   { height: 10px!important;}
.height11_   { height: 11px!important;}
.height12_   { height: 12px!important;}
.height13_   { height: 13px!important;}
.height14_   { height: 14px!important;}
.height15_   { height: 15px!important;}
.height16_   { height: 16px!important;}
.height17_   { height: 17px!important;}
.height18_   { height: 18px!important;}
.height19_   { height: 19px!important;}
.height20_   { height: 20px!important;}
.height25_   { height: 25px!important;}
.height30_   { height: 30px!important;}
.height35_   { height: 35px!important;}
.height40_   { height: 40px!important;}
.height45_   { height: 45px!important;}
.height50_   { height: 50px!important;}
.height100_  { height: 100px!important;}
.height150_  { height: 150px!important;}
.height200_  { height: 200px!important;}
.height250_  { height: 250px!important;}
.height300_  { height: 300px!important;}
.height350_  { height: 350px!important;}
.height400_  { height: 400px!important;}
.height450_  { height: 450px!important;}
.height500_  { height: 500px!important;}
.height550_  { height: 550px!important;}
.height600_  { height: 600px!important;}
.height650_  { height: 650px!important;}
.height700_  { height: 700px!important;}
.height750_  { height: 750px!important;}
.height800_  { height: 800px!important;}
.height850_  { height: 850px!important;}
.height900_  { height: 900px!important;}
.height950_  { height: 950px!important;}
.height1000_ { height: 1000px!important;}
.g-selectarea   { height: 66px!important;}
.font-color-red { color: #ff1500; }
