

#e217061 .showPc .anchor {
	border: 5px solid #39b382;
	padding: 35px 0 35px 40px;
}

#e217061 .showPc .anchor ul li {
	padding-left: 35px;
	font-size:18px;
	font-weight: bold;
	list-style-type: none;
	background:url(/img/event/3/217061/217061_pc_anchor_mark.jpg) left center no-repeat;
}
#e217061 .anchor ul li a {
	color: #000;
}
#e217061 .anchor ul li a:hover {
	color: #e94709;
}

#e217061 .anchor ul li a em {
	font-style: normal;
	color: #f00 !important;
}


#e217061 .showSp .anchor {
	border: 5px solid #39b382;
	margin-bottom: 1em;
	padding: 1em 1em 1em 0.5em;
	font-size:18px;
}

#e217061 .showSp .anchor ul li {
	padding-left: 1.5em;
	margin-bottom: 0.5em;
	font-size:18px;
	font-weight: bold;
	line-height: 1.4;
	list-style-type: none;
	background:url(/img/event/3/217061/217061_pc_anchor_mark.jpg) left 0.3em no-repeat;
}



#e217061 .showPc .item-content {
	position: relative;
	width: 725px;
}
#e217061 .showPc .item-content.btmSpace {
	margin-bottom: 30px;
}



#e217061 .showPc .item-content .detail {
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -233px;
}
#e217061 .showPc .item-content .detailL {
	position: absolute;
	bottom: 10px;
	left: 5px;
}
#e217061 .showPc .item-content .detailR {
	position: absolute;
	bottom: 10px;
	right: 5px;
}
#e217061 .showPc .item-content a:hover {
	opacity: 0.8;
}


#e217061 .showSp .item-content.btmSpace {
	margin-bottom: 8%;
}
#e217061 .showSp .item-content .detail {
	display: block;
	padding-bottom: 8%;
	text-align: center;
	background: #ecf7f3;
}
#e217061 .showSp .item-content .detail2 {
	display: block;
	padding-bottom: 8%;
	text-align: center;
	background: #fff3f7;
}



#e217061 .showPc .btn_pageTop {
	display: block;
	width: 725px;
	padding:28px 0;
	text-align: right;
	font-size:18px;
}

#e217061 .showPc .btn_pageTop a {
	color: #000;
}
#e217061 .showPc .btn_pageTop a:hover {
	color: #e94709;
}

#e217061 .showSp .btn_pageTop {
	display: block;
	margin: 1em 0 4em !important;
	text-align: right;
	font-size: 10px;
	font-size: 3.125vw;
}
#e217061 .showSp .btn_pageTop a {
	color: #000;
}






#e217061 .showPc .caution {
	width: 725px;
	border-top: 1px solid #000;
}
#e217061 .showPc .caution h3 {
	margin: 10px 0 10px;
	font-size: 16px;
}
#e217061 .showPc .caution h4 {
	margin: 0 0 10px 10px;
	font-size: 16px;
	color: #f00;
}
#e217061 .showPc .caution li {
	margin-left: 2em;
	font-size: 14px;
	font-weight: normal;
	list-style-type: disc;
}


#e217061 .showSp .caution {
	width: 100%;
	border-top: 1px solid #000;
}
#e217061 .showSp .caution h3 {
	margin: 0.5em 0 1em 0.5em;
	font-size: 14px;
}
#e217061 .showSp .caution h4 {
	margin: 0 0 1em 1.5em;
	font-size: 14px;
	line-height: 1.2;
	color: #f00;
}

#e217061 .showSp .caution li {
	margin-left: 3em;
	font-size: 12px;
	font-weight: normal;
	list-style-type: disc;
}


#e217061 .showPc .cBanner{
  margin:0 auto 30px; 
  border:3px solid #d6d6d6;
  width:525px;
}

#e217061 .showPc .cBanner:hover{
  border:3px solid #f74c00;
  opacity: .7;
}
#e217061 .showSp .cBanner{
  margin:0 auto 30px; 
  border:3px solid #d6d6d6;
  width:90%;
}


