#e217041 .showPc .anchor{
	padding: 30px 0;
}
#e217041 .showPc .anchor ul{
	margin:0 50px;
	font-size:18px;
}
#e217041 .showPc .anchor ul li {
	list-style-type: none;
	padding-left:25px;
	text-indent:-25px;
}
#e217041 .showPc .anchor ul li a{
	text-decoration:none;
	border-bottom:1px solid #000;
}
#e217041 .showPc .anchor ul li a:hover{
	border-color:#db5d14;
}
#e217041 .showPc .anchor ul li strong{
	color:#da0350;
}
#e217041 .showPc .anchor ul li a:hover strong{
	color:#db5d14;
}
#e217041 .showPc .anchor ul .mk1,
#e217041 .showPc .anchor ul .strong_color1 {
	color:#f37e1f;
}
#e217041 .showPc .anchor ul .mk2,
#e217041 .showPc .anchor ul .strong_color2 {
	color:#1c84e5;
}
#e217041 .showPc .anchor ul .mk3,
#e217041 .showPc .anchor ul .strong_color3 {
	color:#926eb6;
}
#e217041 .showPc .anchor ul .mk4,
#e217041 .showPc .anchor ul .strong_color4 {
	color:#179b6a;
}
#e217041 .showPc .anchor ul .mk5 {
	color:#e0256a;
}

#e217041 .showPc .contents{
	position: relative;
}

#e217041 .showPc .contents .btn_detail:hover img{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

#e217041 .showPc .contents .btn01{
	position: absolute;
	top: 1840px;
	left: 0;
	width: 100%;
	text-align: center;
}

#e217041 .showPc .contents .btn02{
	position: absolute;
	top: 1010px;
	left: 0;
	width: 100%;
}

#e217041 .showPc .contents .btn02 a{
	display: inline-block;
}

#e217041 .showPc .contents .btn03{
	position: absolute;
	top: 1926px;
	left: 0;
	width: 100%;
	text-align: center;
}

#e217041 .showPc .contents .btn04{
	position: absolute;
	top: 2706px;
	left: 0;
	width: 100%;
	text-align: center;
}

#e217041 .showPc .contents .btn05{
	position: absolute;
	top: 3422px;
	left: 0;
	width: 100%;
	text-align: center;
}

#e217041 .showPc .contents .btn06{
	position: absolute;
	top: 4384px;
	left: 0;
	width: 100%;
	text-align: center;
}

#e217041 .showPc .contents .btn07{
	position: absolute;
	top: 5470px;
	left: 0;
	width: 100%;
	text-align: center;
}

#e217041 .showPc .contents .btn08{
	position: absolute;
	top: 6290px;
	left: 0;
	width: 100%;
	text-align: center;
}

#e217041 .showPc .contents .btn09{
	position: absolute;
	top: 6786px;
	left: 0;
	width: 100%;
	text-align: center;
}

#e217041 .showPc .contents .btn10{
	position: absolute;
	top: 745px;
	left: 0;
	width: 100%;
	text-align: center;
}

#e217041 .showPc .caution{
	padding-top: 0;
	border-top: none;
}

#e217041 .showPc .caution .caution__applicationHead{
	margin: 10px 0 0;
	font-size: 16px;
	font-weight: bold;
}

#e217041 .showPc .caution .caution__applicationList li{
	margin-left: 1.5em;
	font-size: 14px;
}


#e217041 .showSp .contents .btn02{
	display: table;
	margin-bottom: 30px;
	width: 100%;
}

#e217041 .showSp .contents .btn02 p{
	display: table-cell;
	width: 50%;
}

#e217041 .showSp .contents .btn02 a img{
	width: 100%;
	height: auto;
}

#e217041 .showSp .caution .caution__applicationHead{
	margin: 10px 0 0;
	font-size: 14px;
	font-weight: bold;
}


