
#e216086 .showPc .anchor .anchor__list {border: 2px solid #4f0078; border-style: dashed;border-radius: 0px;  }

#e216086 .showPc .anchor .anchor__list .anchor__item {  
	text-indent: -26px;
	 padding-left: 10px;}

#e216086 .showPc .anchor .anchor__list .anchor__item .caret,
#e216086 .showPc .anchor .anchor__list .anchor__item a strong {color: #6e3c9b;}

#e216086 .showPc .anchor .anchor__list .anchor__item a strong.red {color: #ff0000;}


#e216086 .showPc .anchor .anchor__list .anchor__item a:hover .caret,
#e216086 .showPc .anchor .anchor__list .anchor__item a:hover strong {color: #e94709;}

#e216086 .contents {
	background:url(../../../../img/event/3/216086/216086_pc_00.jpg);
}
#e216086 .psRel{position:relative;}
#e216086 .showPc .btn_detail{
	position:absolute;
}
#e216086 .showPc .btn_detail:hover{
	opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
#e216086 .showPc .btn01{
	bottom:0px;
	left:40px;
}
#e216086 .showPc .e216086_btn{
  text-align: center;
}
#e216086 .showPc .e216086_btn .btn_detail{
  display: inline-block;
  margin: 0 10px;
}
#e216086 .showPc .e216086_btn img:hover{
  opacity: .7;
}
#e216086 .showPc .e216086_btn .btn_pageTop{
  margin-right: 30px;
  font-size: 18px;
  color: #402727;
  float: right;
  display: block;
}
#e216086 .showPc .e216086_btn .btn_pageTop:hover{
  color: #e94709;
}
#e216086 .showPc .caution{
  border-top: 0px dashed #999;
  font-weight: normal;
  margin: 0px auto 30px;
  clear: both;
}
#e216086 .showPc .caution .caution__lead{
  font-size: 14px;
}
#e216086 .showPc .caution .caution__applicationHead{
  margin: 10px 0 0;
  font-size: 18px;
  font-weight: bold;
}
#e216086 .showPc .caution .caution__applicationList li{
  margin-left: 1.5em;
  font-size: 14px;
}
#e216086 .showPc .caution .caution__red {
    color: #e50101;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
}
#e216086 .sbHolder {
	font-size:16px;
	line-height:40px;
	height:40px;
	color:#1a0f08;
	background:#fff;
	border:solid 1px #bab3ab!important;	
	background: #fff none repeat scroll 0 0;
	font-weight:normal;
	position:relative;
}
#e216086 .sbHolder:hover {
	color:#1a0f08;
	border-color:#807367!important;
	background: #fff url("../img/input-bg-hover.png") repeat-x scroll 0 0;
}
#e216086 .sbOptions {
	background-color:#fff;
	border: solid 1px #bab3ab!important;
	list-style:none;
	left:-1px;
	margin:0;
	padding:0;
	position:absolute;
	top:40px;
	z-index:2;
	overflow-y:auto;
}
#e216086 .sbOptions a {
	border-bottom:solid 1px #e0dad3!important;
	display:block;
	outline:none;
	padding:7px 12px 6px 12px;
	line-height:1.4;
}
#e216086 .showPc .bulk_box .box01 {
  position:absolute;
  bottom:246px;
  left:-6px;
}
#e216086 .showPc .bulk_box .box02 {
  position:absolute;
  bottom:246px;
  left:337px;
}
#e216086 .showPc .bulk_box .box03{
  position:absolute;
  bottom:35px;
  left:53px;
  float:left;
}
@-moz-document url-prefix() {
#e216086 .showPc .bulk_box .box03{
  position:absolute;
  bottom:35px;
  left:50px;
  float:left;
}
}
#e216086 .showPc .bulk_box .box04{
  position:absolute;
  bottom:35px;
  left:396px;
  float:left;
}
@-moz-document url-prefix() {
#e216086 .showPc .bulk_box .box04{
  position:absolute;
  bottom:35px;
  left:393px;
  float:left;
}
}

#e216086 .showPc .chkbox label{
	float:left; 
	margin:-18% 0 0 15%;
}

@-moz-document url-prefix() {
#e216086 .showPc .chkbox label{
	float:left; 
	margin:-15% 0 0 13%;
}
}

#e216086 .showPc .bulk_box input[type="submit"]{
	height:100px;
	background:url(../../../../img/event/3/216086/216086_pc_bulk_btn.jpg) no-repeat;
	outline:none;
	border:none;
	cursor:pointer;
}

#e216086 .showPc .bulk_box input[type="submit"]:hover{
	opacity: 0.6;
}

#e216086 .showPc .cBanner{
  margin:0 auto 30px; 
  border:3px solid #d6d6d6;
  width:525px;
}

#e216086 .showPc .cBanner:hover{
  border:3px solid #f74c00;
  opacity: .8;
}

#e216086 .showSp .contents {
	background:url(../../../../img/event/3/216086/216086_sp_bg.jpg);
	background-size:100% auto;
}

#e216086 .showSp .contents .e216086_btn {
	margin-right:5%;
}

#e216086 .showSp .caution_block {
  margin-top: 8%;
}

#e216086 .sBanner {
  margin-bottom:10px;
}

#e216086 .showSp .bulk_box {
  margin-top:30px;
}
#e216086 .showSp .bulk_box .select_menu {
  width:86%!important;
  position:absolute;
  bottom:5%;
  left:7%;
}
#e216086 .showSp .box1 {
  position:absolute;
  bottom:5%;
  left:14%;
}
#e216086 .showSp .chkbox input[type=checkbox] {
	display:none;
}

#e216086 .showSp .bulk_box input[type="submit"]{
	width:100%;
	height:0;
	padding-bottom:20%;
	background:url(../../../../img/event/3/216086/216086_sp_bulk_btn.jpg) no-repeat;
	background-size:100% auto;
	outline:none;
	border:none;
}

#e216086 .showSp .btn_pageTop {
    font-size: 12px;
    text-align: right;
    display: block;
}

#e216086 .showSp .caution{
  font-weight: normal;
  margin: 0 auto 30px;
  clear: both;
  border-top: 0;
}
#e216086 .showSp .caution .caution__lead{
  padding-top: 0px;
  font-size: 85%;
}
#e216086 .showSp .caution .caution__applicationHead{
  margin: 10px 0 0;
  font-size: 115%;
  font-weight: bold;
}
#e216086 .showSp .caution .caution__applicationList li{
  margin-left: 1.5em;
  font-size: 90%;
}
#e216086 .showSp .caution .caution__red {
    color: #e50101;
    padding-left: 10px;
    font-size: 90%;
    font-weight: bold;
}
#e216086 .showSp .cBanner{
  margin:0 auto 30px; 
  border:3px solid #d6d6d6;
  width:90%;
}
#e216086 .showSp img {
    width: 100%;
    display:block;
}