#e117032 .showPc .anchor{
	padding: 30px 0;
}
#e117032 .showPc .anchor ul{
	margin:0 35px;
	font-size:18px;
}
#e117032 .showPc .anchor ul li {
	padding-left:25px;
	text-indent:-25px;
}
#e117032 .showPc .anchor ul li a{
	text-decoration:none;
	border-bottom:1px solid #000;
}
#e117032 .showPc .anchor ul li a:hover{
	border-color:#db5d14;
}
#e117032 .showPc .anchor ul li strong{
	color:#da0350;
}
#e117032 .showPc .anchor ul li strong.red{
	color:#ff0000;
}
#e117032 .showPc .anchor ul li a:hover strong{
	color:#db5d14;
}
#e117032 .showPc .anchor ul li a:hover strong.red{
	color:#db5d14;
}
#e117032 .showPc .anchor ul .mk {color:#837dd7;}
#e117032 .showPc .anchor ul a strong {color:#27239b;}
#e117032 .showPc .anchor ul .mk2,
#e117032 .showPc .anchor ul a .ver2 {color:#028a72;}



#e117032 .psRel{position:relative;}
#e117032 .showPc .btn_detail{
	position:absolute;
}
#e117032 .showPc .btn_detail:hover{
	opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

#e117032 .showPc .step01{
	position:absolute;
	left:43px;
	bottom:1010px;
}
#e117032 .showPc .step02{
	position:absolute;
	left:43px;
	bottom:679px;
}
#e117032 .showPc .step03{
	position:absolute;
	left:43px;
	bottom:356px;
}
#e117032 .showPc .step04{
	position:absolute;
	left:410px;
	bottom:853px;
}
#e117032 .showPc .step05{
	position:absolute;
	left:410px;
	bottom:628px;
}
#e117032 .showPc .step06{
	position:absolute;
	left:410px;
	bottom:348px;
}
#e117032 .showPc .step07{
	position:absolute;
	left:410px;
	bottom:116px;
}

#e117032 .showPc .sec02,#e217022 .showPc .sec03,#e217022 .showPc .sec04,#e217022 .showPc .sec05,#e217022 .showPc .sec06{
	margin-top:40px;
}
#e117032 .showPc .sec01 .btn01{
	bottom:40px;
	left:35px;
}
#e117032 .showPc .sec02 .btn01{
	bottom:40px;
	left:35px;
}
#e117032 .showPc .sec02 .btn02{
	bottom:20px;
	left:35px;
}
#e117032 .showPc .sec03 .btn01{
	bottom:60px;
	left:35px;
}
#e117032 .showPc .sec04 .btn01{
	bottom:40px;
	left:35px;
}
#e117032 .showPc .sec04 .btn02{
	bottom:60px;
	left:35px;
}
#e117032 .showPc .sec05 .btn01{
	bottom:40px;
	left:35px;
}
#e117032 .showPc .sec06 .btn01{
	bottom:30px;
	left:35px;
}
#e117032 .showPc .sec06 .btn02{
	bottom:60px;
	left:35px;
}
#e117032 .showPc .sec07 .btn01{
	bottom:40px;
	left:35px;
}
#e117032 .showPc .sec08 .btn01{
	bottom:40px;
	left:35px;
}
#e117032 .showPc  .btn_pageTop{
    margin-top: 0px;
    margin-bottom: 30px;
    font-size:18px;
    color: #402727;
    float: right;
    display: block;
}
#e117032 .showPc  .btn_pageTop:hover{
  text-decoration: none;
  color: #db5d14;
}
#e117032 .showPc .caution{
  font-weight: normal;
  margin: 0 auto 30px;
  clear: both;
}
#e117032 .showPc .caution .caution__lead{
  font-size: 14px;
}
#e117032 .showPc .caution .caution__applicationHead{
  margin: 10px 0 0;
  font-size: 18px;
  font-weight: bold;
}
#e117032 .showPc .caution .caution__applicationList li{
  margin-left: 1.5em;
  font-size: 14px;
}
#e117032 .showPc .caution .caution__red {
    color: #e50101;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
}


#e117032 .showSp .anchor{
	padding: 30px 0;
}
#e117032 .showSp .anchor ul{
	margin:0 10px;
	font-size:18px;
}
#e117032 .showSp .anchor ul li {
	padding-left:25px;
	text-indent:-25px;
}
#e117032 .showSp .anchor ul li a{
	text-decoration:none;
	border-bottom:1px solid #000;
}
#e117032 .showSp .anchor ul li a:hover{
	color:#db5d14;
	border-color:#db5d14;
}
#e117032 .showSp .anchor ul li strong{
	color:#da0350;
}
#e117032 .showSp .anchor ul li a:hover strong{
	color:#db5d14;
}
#e117032 .showSp .anchor ul li strong.red{
	color:#ff0000;
}
#e117032 .showSp .anchor ul li a:hover strong.red{
	color:#db5d14;
}
#e117032 .showSp .anchor ul .mk {color:#837dd7;}
#e117032 .showSp .anchor ul a strong {color:#27239b;}
#e117032 .showSp .anchor ul .mk2,
#e117032 .showSp .anchor ul a .ver2 {color:#028a72;}

#e117032 .showSp .contents{
  margin-top:30px;
}

#e117032 .showSp .2column{
  float:left;
  width:50%;
}
#e117032 .showSp .btn_detail{
	top:10px; 
	right : 10px;
}
#e117032 .showSp .btn_pageTop {
    font-size: 12px;
    text-align: right;
    display: block;
    margin-bottom: 30px;
}

#e117032 .showSp .caution{
  font-weight: normal;
  margin: 0 auto 30px;
  clear: both;
  border-top: 0;
}
#e117032 .showSp .caution .caution__lead{
  padding-top: 20px;
  font-size: 12px;
}
#e117032 .showSp .caution .caution__applicationHead{
  margin: 10px 0 0;
  font-size: 12px;
  font-weight: bold;
}
#e117032 .showSp .caution .caution__applicationList li{
  margin-left: 1.5em;
  font-size: 12px;
}
#e117032 .showSp .caution .caution__red {
    color: #e50101;
    padding-left: 10px;
    font-size: 12px;
    font-weight: bold;
}