
/**
 アウトレット
**/
/* line 8, ../scss/index.scss */
img {
  vertical-align: top; }

/* line 12, ../scss/index.scss */
.lead {
  background: #fdf9e5;
  padding: 12px 20px 10px; }

/* line 19, ../scss/index.scss */
.lpBox {
  /* #outlet */
  /* #merit */ }
  /* line 20, ../scss/index.scss */
  .lpBox h2 {
    margin: 0 0 20px; }
  /* line 25, ../scss/index.scss */
  .lpBox#outlet {
    margin: 20px 0 0; }
    /* line 27, ../scss/index.scss */
    .lpBox#outlet .left, .lpBox#outlet .right {
      width: 483px; }
      /* line 29, ../scss/index.scss */
      .lpBox#outlet .left p, .lpBox#outlet .right p {
        margin: 16px 22px; }
      /* line 32, ../scss/index.scss */
      .lpBox#outlet .left .btnLink, .lpBox#outlet .right .btnLink {
        margin: 50px 0 16px;
        text-align: center; }
    /* line 37, ../scss/index.scss */
    .lpBox#outlet .left {
      background: url(../img/bg_outlet_registration.png) no-repeat left bottom; }
    /* line 40, ../scss/index.scss */
    .lpBox#outlet .right {
      background: url(../img/bg_outlet_no_registration.png) no-repeat left bottom; }
  /* line 46, ../scss/index.scss */
  .lpBox#merit {
    margin: 30px 0 0; }
    /* line 48, ../scss/index.scss */
    .lpBox#merit .block {
      border-left: 1px solid #e0dad3;
      border-bottom: 1px solid #e0dad3; }
      /* line 51, ../scss/index.scss */
      .lpBox#merit .block .left, .lpBox#merit .block .center, .lpBox#merit .block .right {
        border-right: 1px solid #e0dad3;
        width: 325px;
        float: left; }
        /* line 55, ../scss/index.scss */
        .lpBox#merit .block .left h3, .lpBox#merit .block .center h3, .lpBox#merit .block .right h3 {
          background: #f2eeea;
          border-bottom: 1px solid #e0dad3;
          padding: 10px; }
        /* line 60, ../scss/index.scss */
        .lpBox#merit .block .left p, .lpBox#merit .block .center p, .lpBox#merit .block .right p {
          margin: 15px 12px 0; }
        /* line 63, ../scss/index.scss */
        .lpBox#merit .block .left .note, .lpBox#merit .block .center .note, .lpBox#merit .block .right .note {
          margin: 8px 10px 0 1em;
          padding-left: 10px;
          font-size: 90%;
          text-indent: -1em; }
        /* line 69, ../scss/index.scss */
        .lpBox#merit .block .left .link, .lpBox#merit .block .center .link, .lpBox#merit .block .right .link {
          margin: 15px 10px 15px 0;
          text-align: right; }
          /* line 72, ../scss/index.scss */
         /* .lpBox#merit .block .left .link a, .lpBox#merit .block .center .link a, .lpBox#merit .block .right .link a {
            background: url(../img/icon_arrow_brown.png) no-repeat left 2px;
            padding-left: 23px; }*/
          .lpBox#merit .block .left .link a, .lpBox#merit .block .center .link a, .lpBox#merit .block .right .link a {
            background: url(../img/icon_arrow_brown.png) no-repeat left 1px;
            padding-left: 23px; display:inline-block; line-height:125%;}
      /* line 78, ../scss/index.scss */
      .lpBox#merit .block .right {
        width: 324px; }
    /* line 82, ../scss/index.scss */
    .lpBox#merit .btnLink {
      border-top: 1px solid #e0dad3;
      border-right: 1px solid #e0dad3;
      clear: both;
      padding: 20px 0;
      text-align: center; }

/* line 93, ../scss/index.scss */
.pagetop.bottom a {
  background: #f2eeea;
  border: 1px solid #d8d2cb;
  display: block;
  width: 978px;
  margin: 50px auto 45px;
  padding: 12px 0;
  font-size: 120%;
  text-align: center; }
