/* CSS Document */
#e217094 {
  color: #000; }
  #e217094 h1, #e217094 h2, #e217094 h3, #e217094 h4 {
    margin: 0;
    padding: 0; }
  #e217094 a:hover img {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }
  #e217094 .showPc {
    width: 725px; }
    #e217094 .showPc .anchor {
      padding: 30px 16px 30px; }
      #e217094 .showPc .anchor ul.anchor_list {
        box-shadow: 0 0 0 1px #c59d62, 0 0 0 4px #FFF, 0 0 0 6px #c59d62;
        padding: 20px 0 16px 20px;
        font-size: 19px;
        font-weight: bold; }
        #e217094 .showPc .anchor ul.anchor_list li {
          list-style: none;
          padding: 0 0 2px 20px;
          margin-bottom: 4px;
          position: relative;
          z-index: 1; }
          #e217094 .showPc .anchor ul.anchor_list li a {
            text-decoration: none;
            border-bottom: 1px solid #545454;
            color: #000; }
            #e217094 .showPc .anchor ul.anchor_list li a:hover {
              border-color: #ff0000;
              color: #ff0000; }
              #e217094 .showPc .anchor ul.anchor_list li a:hover span {
                color: #ff0000; }
          #e217094 .showPc .anchor ul.anchor_list li.anchor_odd span {
            color: #ff0000; }
          #e217094 .showPc .anchor ul.anchor_list li.anchor_odd::before {
            content: "";
            position: absolute;
            top: 8px;
            left: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 15px solid #ff7888; }
          #e217094 .showPc .anchor ul.anchor_list li.anchor_even span {
            color: #f42121; }
          #e217094 .showPc .anchor ul.anchor_list li.anchor_even::before {
            content: "";
            position: absolute;
            top: 8px;
            left: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 15px solid #ff9c31; }
    #e217094 .showPc #intro #btn_secret {
      width: 665px;
      margin: 10px auto; }
      #e217094 .showPc #intro #btn_secret #lotion {
        float: left;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4); }
      #e217094 .showPc #intro #btn_secret #cream {
        float: right;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4); }
    #e217094 .showPc .contents {
      position: relative;
      margin-bottom: 40px;
      clear: both; }
      #e217094 .showPc .contents .btn_detail {
        position: absolute;
        bottom: 40px;
        left: 90px;
        right: 0;
        width: 540px; }
      #e217094 .showPc .contents .btn_detail_02 {
        position: absolute;
        bottom: 40px;
        left: 90px;
        right: 0;
        width: 540px; }
    #e217094 .showPc .page_top {
      padding: 0 30px 40px 0;
      margin: -20px 0 40px;
      font-weight: bold;
      font-size: 18px; }
      #e217094 .showPc .page_top a.btn_top {
        color: #332a2a;
        float: right; }
        #e217094 .showPc .page_top a.btn_top:hover {
          color: #fc6d00; }
    #e217094 .showPc .page_top_last {
      padding: 0 30px 40px 0;
      margin: -20px 0 20px;
      font-weight: bold;
      font-size: 18px; }
      #e217094 .showPc .page_top_last a.btn_top {
        color: #332a2a;
        float: right; }
        #e217094 .showPc .page_top_last a.btn_top:hover {
          color: #fc6d00; }
    #e217094 .showPc .caution_txt {
      border-top: none;
      padding-top: 20px;
      color: #000;
      font-size: 14px;
      font-weight: normal;
      border-top: 1px dashed #aaa; }
      #e217094 .showPc .caution_txt ol.caution_lead {
        padding: 0 0 20px 0; }
        #e217094 .showPc .caution_txt ol.caution_lead li {
          list-style: none; }
      #e217094 .showPc .caution_txt p span.bold {
        font-weight: bold; }
    #e217094 .showPc .small_bnr {
      width: 519px;
      height: 109px;
      margin: 40px auto;
      display: block; }
      #e217094 .showPc .small_bnr a img {
        border: 3px solid #d6d6d6;
        display: block; }
        #e217094 .showPc .small_bnr a img:hover {
          display: block;
          opacity: 0.7;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; }
    #e217094 .showPc .other_bnr {
      width: 688px;
      margin: 40px auto 15px; }
  #e217094 .showSp {
    width: 100%; }
    #e217094 .showSp img {
      width: 100%;
      display: block; }
    #e217094 .showSp a:hover img {
      opacity: 0.6;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }
    #e217094 .showSp .anchor {
      margin: 40px 10px; }
      #e217094 .showSp .anchor .anchor_list {
        box-shadow: 0 0 0 1px #c59d62, 0 0 0 4px #FFF, 0 0 0 6px #c59d62;
        list-style: none;
        padding: 20px 10px 2px 10px;
        border: none;
        position: relative;
        margin-bottom: 8px; }
        #e217094 .showSp .anchor .anchor_list .anchor_item span {
          display: inline;
          font-size: 18px; }
        #e217094 .showSp .anchor .anchor_list li {
          position: relative;
          padding-left: 20px;
          line-height: 1.6;
          margin-bottom: 10px; }
          #e217094 .showSp .anchor .anchor_list li a {
            display: inline;
            color: #000; }
            #e217094 .showSp .anchor .anchor_list li a:hover {
              border-color: #ff0000;
              color: #ff0000; }
              #e217094 .showSp .anchor .anchor_list li a:hover span {
                color: #ff0000; }
          #e217094 .showSp .anchor .anchor_list li.anchor_odd span {
            color: #ce005c; }
          #e217094 .showSp .anchor .anchor_list li.anchor_odd::before {
            content: "";
            position: absolute;
            top: 15%;
            left: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 10px solid #ff7888; }
          #e217094 .showSp .anchor .anchor_list li.anchor_even span {
            color: #ff0000; }
          #e217094 .showSp .anchor .anchor_list li.anchor_even::before {
            content: "";
            position: absolute;
            top: 15%;
            left: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 10px solid #ff9c31; }
    #e217094 .showSp #intro_sp {
      margin-bottom: 40px; }
      #e217094 .showSp #intro_sp #btn_secret_sp {
        width: 100%;
        margin: 10px auto; }
        #e217094 .showSp #intro_sp #btn_secret_sp #lotion_sp {
          float: left;
          width: 48%;
          margin-bottom: 20px;
          border-radius: 6px;
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4); }
        #e217094 .showSp #intro_sp #btn_secret_sp #cream_sp {
          float: right;
          width: 48%;
          margin-bottom: 20px;
          border-radius: 6px;
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4); }
    #e217094 .showSp .contents {
      margin: 0 auto 20px;
      position: relative; }
      #e217094 .showSp .contents .btn_detail {
        position: absolute;
        bottom: 2%;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 80%; }
      #e217094 .showSp .contents .btn_detail_02 {
        position: absolute;
        bottom: 2%;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 80%; }
    #e217094 .showSp .page_top {
      padding: 0 20px 30px 0;
      margin-bottom: 30px;
      font-weight: bold;
      font-size: 18px; }
      #e217094 .showSp .page_top a.btn_top {
        color: #332a2a;
        float: right; }
        #e217094 .showSp .page_top a.btn_top:hover {
          color: #fc6d00; }
    #e217094 .showSp .caution_txt {
      font-size: 13px;
      font-weight: normal;
      padding: 20px 10px 30px;
      border-top: 1px dashed #aaa; }
      #e217094 .showSp .caution_txt ol.caution_lead {
        padding: 0;
        margin-bottom: 40px; }
        #e217094 .showSp .caution_txt ol.caution_lead li {
          display: block;
          margin-left: 23px;
          text-indent: -23px; }
      #e217094 .showSp .caution_txt p span.bold {
        font-weight: bold; }
    #e217094 .showSp .small_bnr {
      margin: 0 auto 20px;
      padding: 0 15px;
      display: block; }
      #e217094 .showSp .small_bnr a img {
        display: block;
        border: 3px solid #d6d6d6; }
        #e217094 .showSp .small_bnr a img:hover {
          display: block;
          opacity: 0.6;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }
    #e217094 .showSp .other_bnr {
      margin: 0 auto 15px;
      padding: 0 15px;
      display: block; }
