

#e117071 .showPc .anchor{
	width:635px;
	padding: 30px 0 30px;
	margin:22px auto 0;
	background:url(/img/event/3/117071/117071_pc_bg03.jpg) repeat-y right top;
	position: relative;
}

#e117071 .showPc .anchor:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right:0;
	display: block;
	width:635px;
	height:30px;
	margin:0 auto;
	padding:0;
	background:url(/img/event/3/117071/117071_pc_bg01.jpg) no-repeat center top;
	z-index:0;
}

#e117071 .showPc .anchor:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right:0;
	display: block;
	width:635px;
	height:30px;
	margin:0 auto;
	padding:0;
	background:url(/img/event/3/117071/117071_pc_bg02.jpg) no-repeat center top;
	z-index:0;
}


#e117071 .showPc .anchor ul li {
	list-style-type: none;
	padding-left:25px;
	text-indent:-25px;
	position:relative;
	z-index:1;
}
#e117071 .showPc .anchor ul li a{
	text-decoration:none;
	border-bottom:1px solid #000;
}
#e117071 .showPc .anchor ul li a:hover{
	border-color:#db5d14;
}
#e117071 .showPc .anchor ul li strong{
	color:#da0350;
}
#e117071 .showPc .anchor ul li a:hover strong{
	color:#db5d14;
}

#e117071 .showSp .anchor ul .mk1,
#e117071 .showPc .anchor ul .mk1,
#e117071 .showPc .anchor ul .strong_color1 {
	color:#b12998;
}
#e117071 .showSp .anchor ul .mk2,
#e117071 .showPc .anchor ul .mk2,
#e117071 .showPc .anchor ul .strong_color2 {
	color:#7d43be;
}
#e117071 .showSp .anchor ul .mk3,
#e117071 .showPc .anchor ul .mk3,
#e117071 .showPc .anchor ul .strong_color3 {
	color:#1d8a8f;
}


#e117071 .showPc .anchor ul li a:hover span{
	color: #e94709;
}

#e117071 .showPc .anchor ul li:hover,
#e117071 .showPc .anchor ul li:hover span{
	color: #e94709;
}

.banner_page#e117071 .showPc .anchor .anchor__list{
	width: 635px;
	padding: 0 35px;
	margin:0;
	background:url(/img/event/3/117071/117071_pc_bg03.jpg) repeat-y center top;
	position: relative;
	border:none;
	border-radius: 0;
}


.banner_page .showSp img {
    width: 100%;
    display:block;
}


#e117071 .showSp .anchor{
	width:100%;
	margin-top:20px;
	margin-bottom:40px;
	padding:0;
	background:url(/img/event/3/117071/117071_sp_bg05.jpg) repeat-y left top;
	position: relative;
}

#e117071 .showSp .anchor:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width:100%;
	height:24px;
	margin:0 auto;
	padding:0;
	background:url(/img/event/3/117071/117071_sp_bg01.jpg) no-repeat left top;
	z-index:0;
}

#e117071 .showSp .anchor:after {
	content: "";
	position: absolute;
	top: 0;
	right:0;
	display: block;
	width:18px;
	height:24px;
	margin:0;
	padding:0;
	background:url(/img/event/3/117071/117071_sp_bg02.jpg) no-repeat right top;
	z-index:0;
}

.banner_page#e117071 .showSp .anchor .anchor__list{
	border-top:none;
	width:100%;
	padding: 30px 40px 34px;
	margin:0;
	background:url(/img/event/3/117071/117071_sp_bg06.jpg) repeat-y right top;
	overflow:hidden;
}

#e117071 .showSp .anchor .anchor__list:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width:100%;
	height:24px;
	margin:0 auto;
	padding:0;
	background:url(/img/event/3/117071/117071_sp_bg03.jpg) no-repeat left top;
	z-index:0;
}

#e117071 .showSp .anchor .anchor__list:after {
	content: "";
	position: absolute;
	bottom: 0;
	right:0;
	display: block;
	width:18px;
	height:24px;
	margin:0;
	padding:0;
	background:url(/img/event/3/117071/117071_sp_bg04.jpg) no-repeat right top;
	z-index:0;
}


.banner_page#e117071 .showSp .anchor .anchor__list .anchor__item{
	border-bottom: none;
	margin-left:21px;
	text-indent:-21px;
}

.banner_page#e117071 .showSp .anchor .anchor__list .anchor__item span{
	font-size:16px;
	display:inline;
}

.banner_page#e117071 .showSp .anchor .anchor__list .anchor__item a{
	display:inline;
}

#e117071 .showPc .contents{
	position: relative;
	margin-bottom:0;
	margin-top:60px;
}

#e117071 .showPc .contents.connection{
	margin-top:0;
}




#e117071 .showPc .contents .btn_detail:hover img{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.banner_page#e117071 .showPc .contents .contents__btn--single .btn_detail{
	display: block;
	width: 465px;
	margin: 0 auto 0;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}


.banner_page .showPc .contents .contents__btn--single.ssize {
    width: 665px;
    margin: 20px auto 0;
}

.banner_page#e117071 .showPc .contents .contents__btn--single.ssize .btn_detail{
	display: block;
	width: 380px;
	margin: 0 0 20px auto;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

#e117071 .showPc .contents .btn06{
	position: absolute;
	bottom: 40px;
	right: 0;
	left: 0;
	margin: 0 auto;
	text-align: center;
}



#e117071.banner_page .common .contents .contents__btn.btn06 .btn_detail {
	display: inline-block;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	border-radius: 30px;
}

#e117071 .showPc .caution{
	margin-top:40px;
	border-top: none;
	padding-top:34px;
	background:url(/img/event/3/117071/117071_pc_bg04.jpg) no-repeat left top;
}

#e117071 .showPc .caution.noborder{
	margin-top:0;
	border-top:none;
}

#e117071 .showSp .caution .caution__applicationHead,
#e117071 .showPc .caution .caution__applicationHead{
	margin: 10px 0 0;
	font-size: 16px;
	font-weight: bold;
}

#e117071 .showSp .caution .caution__applicationHead{
	font-size: 14px;
}


#e117071 .showSp .caution .caution__lead,
#e117071 .showPc .caution .caution__lead{
	font-weight:normal;
}

#e117071 .showPc .caution .caution__applicationList li{
	margin-left: 1.5em;
	font-size: 14px;
}

.banner_page#e117071 .showSp .caution .caution__application .caution__applicationList .caution__applicationItem,
.banner_page#e117071 .common .caution .caution__application .caution__applicationList,
#e117071 .showSp .caution .caution__lead{
	font-size: 12px;
}


#e117071 .showPc .caution .caution__lead span{
	display:block;
	font-size: 14px;
	margin-left:28px;
	text-indent:-28px;
	color:#1a0f08;
}

#e117071 .showSp .caution .caution__lead span{
	display:block;
	font-size: 12px;
	margin-left:24px;
	text-indent:-24px;
	color:#1a0f08;
}

.banner_page#e117071 .showPc .smallBanner{
	width:725px;
}


.banner_page#e117071 .showPc .smallBanner img{
	width:725px;
	margin:0 auto;
}



#e117071 .showPc .caution .caution__important {
	color: #f00;
	font-size: 14px;
	margin-bottom:12px;
}

#e117071 .showSp .caution .caution__important {
	color: #f00;
	font-size: 12px;
	margin-bottom:8px;
}

.banner_page#e117071 .showSp .contents {
    margin: 0 auto 6%;
}


.banner_page#e117071 .showSp .contents.hasbtn {
    margin: 0 auto 9%;
}

#e117071 .showSp .contents .contents__btn_clm2{
	width: 100%;
	display:table;
}

#e117071 .showSp .contents .contents__btn_clm2 a{
	display:table-cell;
	width: 50%;
	text-align:center;
	padding:10px 10px 0;
	margin-bottom: 0;
}

.banner_page#e117071 .showSp .contents .btn_detail{
	width:100%;
	display:block;
	margin:20px auto 0 auto;
}

.banner_page#e117071 .common.showSp .contents .contents__btn .btn_detail{
	display: inline-block;
	box-shadow:none;
	border-radius: 0;
	margin-top:0;
}

#e117071 .showSp .caution{
	margin-top:20px;
	padding-top:20px;
	border-top: none;
}
#e117071 .showSp .caution.noborder{
	margin-top:0;
	padding-top:48px;
	border-top:none;
	background:url(/img/event/3/117071/117071_sp_bg07.jpg) no-repeat center top;
}

#e117071.banner_page .showSp .contents .contents__btn .btn_pageTop {
    margin-bottom: 0;
}

.banner_page#e117071 .showSp .smallBanner{
	width:100%;
}