

#e217072 .showPc .anchor{
	padding: 40px 30px 32px;
}

.banner_page#e217072 .showPc .anchor .anchor__list{
	width:100%;
	border: none;
	padding: 0 0 0 0;
	margin: 0 auto;
	border-radius: 0;
}

#e217072 .showPc .anchor ul li {
	list-style-type: none;
	padding-left:25px;
	text-indent:-25px;
	margin-bottom:8px;
	position:relative;
	z-index:1;
}
#e217072 .showPc .anchor ul li a{
	text-decoration:none;
	border-bottom:1px solid #000;
}
#e217072 .showPc .anchor ul li a:hover{
	border-color:#db5d14;
}
#e217072 .showPc .anchor ul li strong{
	color:#da0350;
}
#e217072 .showPc .anchor ul li a:hover strong{
	color:#db5d14;
}

#e217072 .showSp .anchor ul .mk1,
#e217072 .showPc .anchor ul .mk1{
	color:#06c4f8;
}

#e217072 .showSp .anchor ul .mk2,
#e217072 .showPc .anchor ul .mk2{
	color:#ff4496;
}
#e217072 .showSp .anchor ul .mk3,
#e217072 .showPc .anchor ul .mk3{
	color:#3c9cff;
}

#e217072 .showSp .anchor ul .mk4,
#e217072 .showPc .anchor ul .mk4{
	color:#f82b86;
}

#e217072 .showPc .anchor ul li a:hover span{
	color: #e94709;
}

#e217072 .showPc .anchor ul li:hover span{
	color: #e94709;
}

.banner_page .showSp img {
    width: 100%;
    display:block;
}

#e217072 .showSp .anchor{
	margin-top:0;
	margin-bottom:0;
	padding:20px 4%;
}

.banner_page#e217072 .showSp .anchor .anchor__list{
	border:none;
}
.banner_page#e217072 .showSp .anchor .anchor__list .anchor__item{
	border:none;
	position: relative;
	margin-bottom:8px;
	margin-left:25px;
	text-indent:-25px;
}

.banner_page#e217072 .showSp .anchor .anchor__list .anchor__item span{
	display:inline;
	font-size: 16px;
}

.banner_page#e217072 .showSp .anchor .anchor__list .anchor__item a{
	display:inline;
}

#e217072 .showPc .contents{
	position: relative;
	margin-bottom:0;
	margin-top:0;
}

#e217072 .showPc .contents.hasbtn{
	margin-bottom:30px;
}

#e217072 .showPc .contents .btn_detail:hover img{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.banner_page#e217072 .showPc .contents .contents__btn{
	margin:0 auto;
}

.banner_page#e217072 .showPc .contents .contents__btn--single{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	display: block;
	width: 100%;
	padding: 0 25px;
}

.banner_page#e217072 .showPc .contents .contents__btn--single.statictype{
	position: static;
	width: 100%;
	padding: 0 25px;
}


.banner_page#e217072 .showPc .contents .contents__btn .btn_pageTop.last{
	margin-top:30px;
}

.banner_page#e217072 .showPc .contents .contents__btn--single.bottomtype{
	top: auto;
	right: 50px;
	left: auto;
	bottom:70px;
	width: 356px;
}

.banner_page#e217072 .showPc .contents .contents__btn--single.lasttype{
	top: auto;
	right: auto;
	left: 76px;
	bottom:11px;
	margin: 0 0;
}

.banner_page#e217072 .showPc .contents .contents__btn--single .btn_detail{
	display: block;
	width: 388px;
	margin: 0 auto 20px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.banner_page#e217072 .showPc .contents .contents__btn--single.lasttype .btn_detail{
	display: block;
	width: 215px;
	margin: 0;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}




#e217072 .showSp .contents .tablelayoutbtn,
#e217072 .showPc .contents .tablelayoutbtn{
	width: 100%;
	display: table;
	table-layout:fixed;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	text-align: center;
}



#e217072.banner_page .common .contents .contents__btn.tablelayoutbtn .btn_detail {
	width:50%;
	display: table-cell;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	border-radius: 0;
}

#e217072 .showPc .caution{
	margin-top:20px;
	border-top:none;
}

#e217072 .showPc .caution.noborder{
	margin-top:0;
	border-top:none;
}

#e217072 .showSp .caution .caution__applicationHead,
#e217072 .showPc .caution .caution__applicationHead{
	margin: 10px 0 0;
	font-size: 16px;
	font-weight: bold;
}

#e217072 .showSp .caution .caution__applicationHead{
	font-size: 14px;
}


#e217072 .showSp .caution .caution__lead,
#e217072 .showPc .caution .caution__lead{
	font-weight:normal;
}

#e217072 .showPc .caution .caution__applicationList li{
	margin-left: 1.5em;
	font-size: 14px;
}

.banner_page#e217072 .showSp .caution .caution__application .caution__applicationList .caution__applicationItem,
.banner_page#e217072 .common .caution .caution__application .caution__applicationList,
#e217072 .showSp .caution .caution__lead{
	font-size: 12px;
}



.banner_page#e217072 .showPc .smallBanner{
	width:705px;
}

.banner_page#e217072 .showPc .smallBanner img{
	width:665px;
	margin:0 auto;
	display:block;
}

#e217072 .showPc .caution .caution__important {
	color: #f00;
	font-size: 14px;
}

#e217072 .showSp .caution .caution__important {
	color: #f00;
	font-size: 12px;
}

.banner_page#e217072 .showSp .contents {
    margin: 0 auto 0;
    position:relative;
}

.banner_page#e217072 .showSp .contents.hasbtn {
    margin: 0 auto 6%;
    position:relative;
}

.banner_page#e217072 .showSp .contents.hasbtn2 {
    margin: 0 auto 2%;
    position:relative;
}

#e217072 .showSp .contents .contents__btn_clm2{
	width: 100%;
	display:table;
}

#e217072 .showSp .contents .contents__btn_clm2 a{
	display:table-cell;
	width: 50%;
	text-align:center;
	padding:10px 10px 0;
	margin-bottom: 0;
}

.banner_page#e217072 .showSp .contents .btn_detail{
	display:block;
	margin-top:20px;
}


.banner_page#e217072 .showSp .contents .contents__btn{
	width:100%;
	position:absolute;
	top:0;
	left:0;
	right:0;
	margin:auto;
	z-index:100;
	padding:0 4%;
}

.banner_page#e217072 .showSp .contents .contents__btn.statictype{
	width:100%;
	position:static;
	top:0;
	left:0;
	right:0;
	margin:auto;
	z-index:100;
	padding:0 4%;
}

.banner_page#e217072 .common.showSp .contents .contents__btn .btn_detail{
	width:62%;
	max-width:400px;
	display:block;
	box-shadow:none;
	border-radius: 0;
	text-align:center;
	margin-top:0;
	margin:auto;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}



.banner_page#e217072 .common.showSp .contents .contents__btn .btn_detail img{
	display: block;
	box-shadow:none;
	border-radius: 0;
	text-align:center;
	margin-top:0;
	margin:auto;
}

.banner_page#e217072 .common.showSp .contents .contents__btn--single.bottomtype{
	top: 0;
	right: 8px;
	left: auto;
	width: 58%;
	padding:0;
}

.banner_page#e217072 .common.showSp .contents .contents__btn.bottomtype .btn_detail{
	width:100%;
	max-width:394px;
	display:block;
	box-shadow:none;
	border-radius: 0;
	text-align:center;
	margin-top:0;
	margin:auto;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}


.banner_page#e217072 .common.showSp .contents .contents__btn--single.lasttype{
	width: 50%;
	top: auto;
	right: auto;
	left: 10%;
	top:0;
	margin: 0 0;
	padding:0;
}

.banner_page#e217072 .common.showSp .contents .contents__btn--single.lasttype .btn_detail{
	display: block;
	width: 70%;
	margin: 0;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.banner_page#e217072 .common.showSp .contents .contents__btn .btn_pageTop{
	margin-top:3%;
}

.banner_page#e217072 .common.showSp .contents .contents__btn .btn_detail + .btn_pageTop{
	margin-top:1.5%;
}




#e217072 .showSp .caution{
	margin-top:20px;
	padding-top:20px;
	/*border-top: 2px dashed #999;*/
	border-top: none;
}
#e217072 .showSp .caution.noborder{
	margin-top:0;
	padding-top:0;
	border-top:none;
}

