



.cp_sp_contents { display:none; }
.cp_pc_contents { display:block; width:725px; margin:0 auto; }
.cp_pc_contents * { font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo; }
.cp_pc_contents img { vertical-align:top; }
.cp_pc_contents h1, ul { margin:0; padding:0; }
.cp_pc_contents li { list-style:none; }



.cp_pc_anc_list::after { display:block; content:""; clear:both; }
.cp_pc_anc_list li { float:left; }
.cp_pc_anc_list li a:hover { opacity:0.5; }

.cp_pc_nav_list { text-align:center; background:#e9e8e3; padding:30px 20px !important; }
.cp_pc_nav_list li { border-bottom:2px dashed #999999; padding-bottom:20px; font-size:16px; }
.cp_pc_nav_list li:first-child { border-top:2px dashed #999999; border-bottom:none; padding:20px 0 5px; }
.cp_pc_nav_list li span { color:#ee0c0c; }
.cp_pc_nav_list li a { color:#000000; font-weight:bold; }
.cp_pc_nav_list li a:hover { color:#ee0c0c; }

.cp_pc_section { position:relative; }
.cp_pc_section ul { margin:0 40px; font-size:14px; letter-spacing:2px; }
.cp_pc_section li { list-style:inside; text-indent:-1em; list-style-type:disc; }
.cp_pc_section strong { display:block; font-size:16px; margin:0 1em 0.5em; }

.cp_pc_point { margin-bottom:30px !important; }

.cp_pc_sec { position: relative; }
.cp_pc_btn_sec { position:absolute; bottom:80px; left:0; width:100%; text-align:center; }
.cp_pc_btn_sec a:hover { opacity:0.5; }

.limited_l { float: left; position: relative; }
.limited_r { float: right; position: relative; }

.cp_pc_btn_small { position:absolute; bottom:70px; left:0; width:100%; text-align:center; }
.cp_pc_btn_small a:hover { opacity:0.5; }

.cp_pc_btn { position:absolute; bottom:45px; left:0; width:100%; text-align:center; }
.cp_pc_btn a:hover { opacity:0.5; }

.cp_pc_btn_btm { position:absolute; bottom:30px; left:0; width:100%; text-align:center; }
.cp_pc_btn_btm a:hover { opacity:0.5; }

.cp_pc_btn_pageTop { display:block; width:725px; margin:25px 0 30px !important; text-align:right; font-size:18px !important; }
.cp_pc_btn_pageTop a { color:#000; font-weight:bold; }
.cp_pc_btn_pageTop a:hover { color:#e94709; }

.cp_pc_bnr { margin:38px 0 40px !important; text-align:center; }
.cp_pc_bnr a { display:inline-block; border:3px solid #d6d6d6; }
.cp_pc_bnr a:hover { border:3px solid #db5d14; }
.cp_pc_bnr a:hover img { opacity:0.7; }


@media (max-width: 767px) {

.cp_pc_contents { display:none; }
.cp_sp_contents * { font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo; }
.cp_sp_contents { display:block; max-width:725px; margin:0 auto; }
.cp_sp_contents img { vertical-align:top; width:100%; }
.cp_sp_contents h1, ul { margin:0; padding:0; }
.cp_sp_contents li { list-style:none; }

.cp_sp_anc_list { background:#e9e8e3; padding:0 15px; }
.cp_sp_anc_list li { padding-top:5px; }
.cp_sp_anc_list li:first-child { padding-top:0; }

.cp_sp_nav_list { text-align:center; background:#e9e8e3; padding:15px 20px !important; }
.cp_sp_nav_list li { border-bottom:2px dashed #999999; padding-bottom:20px; font-size:12px; }
.cp_sp_nav_list li:first-child { border-top:2px dashed #999999; border-bottom:none; padding:20px 0 5px; }
.cp_sp_nav_list li span { color:#ee0c0c; }
.cp_sp_nav_list li a { color:#000000; font-size:16px; font-weight:bold; }

.cp_sp_section { position:relative; margin:0 15px; }
.cp_sp_section ul { font-size:12px !important; letter-spacing:1px; margin:0 0.5em 0 1.5em; }
.cp_sp_section li { list-style:inside; text-indent:-1em; list-style-type:disc; }
.cp_sp_section strong { display:block; font-size:14px !important; padding: 1em 0 0.5em; border-top: 1px solid #000; }

.cp_sp_point { padding:0 15px 20px; margin-bottom:20px; background:#e9e8e3; }

.cp_sp_btn_pageTop { display:block; max-width:725px; margin:15px 15px 20px !important; text-align:right; font-size:16px; }
.cp_sp_btn_pageTop a { color:#000; font-weight:bold; }
.cp_sp_btn_pageTop a:hover { color:#e94709; }

.cp_sp_bnr { margin:30px 0 30px !important; text-align:center; }
.cp_sp_bnr a { display:inline-block; border:3px solid #d6d6d6; width:90%; }

}
