

#e217071 .showPc .anchor {
	box-sizing: border-box;
	border: 3px solid #09b2ad;
	margin: 30px 20px 10px;
	padding: 20px 0 20px 22px;
	border-radius: 8px;
}

#e217071 .showPc .anchor ul li {
	font-size:15px;
	font-weight: bold;
	list-style-type: none;
	line-height: 2;
}

#e217071 .anchor ul li a {
	color: #000;
}
#e217071 .anchor ul li a:hover {
	color: #e94709;
}

#e217071 .anchor ul li a em {
	font-style: normal;
}
#e217071 .anchor ul li a em.color1 {
	color: #0bb1af;
}
#e217071 .anchor ul li a em.color2 {
	color: #019ae8;
}
#e217071 .anchor ul li a em.color3 {
	color: #89c118;
}



#e217071 .showSp .anchor {
	border: 3px solid #09b2ad;
	margin: 2em 0.5em;
	padding: 1.2em 1em;
	font-size:12px !important;
	border-radius: 8px;
}

#e217071 .showSp .anchor ul li {
	margin-bottom: 0.8em;
	font-size:12px !important;
	font-weight: bold;
	line-height: 1.4;
	list-style-type: none;
}



#e217071 .showPc .item-content {
	position: relative;
	width: 725px;
}
#e217071 .showPc .item-content .detail {
	position: absolute;
	display: block;
	opacity: 0;
	overflow: hidden;
	background: #fff;
}
#e217071 .showPc .item-content a:hover {
	opacity: 0.2;
}
#e217071 .showPc .item-content .select {
	position: absolute;
	border: 5px solid #fd243f;
}
#e217071 .showPc .item-content .select a {
	opacity: 1;
}


#e217071 .sbHolder {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #bab3ab;
    color: #1a0f08;
    font-feature-settings: "palt";
    font-size: 16px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    position: relative;
}
#e217071 .sbHolder:hover {
    background: #fff url("../img/input-bg-hover.png") repeat-x scroll 0 0;
    border-color: #807367;
    color: #1a0f08;
}
#e217071 .sbOptions {
    background-color: #fff;
    border: 1px solid #bab3ab;
    left: -1px;
    list-style: outside none none;
    margin: 0;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    top: 40px;
    z-index: 2;
}
#e217071 .sbOptions a {
    border-bottom: 1px solid #e0dad3;
    display: block;
    line-height: 1.4;
    outline: medium none;
    padding: 7px 12px 6px;
}




#e217071 .showPc .item-content.item1 .detail {
	top: 340px;
	right: 20px;
}
#e217071 .showPc .item-content.item1 .select {
	top: 408px;
	right: 20px;
}

#e217071 .showPc .item-content.item2 .detail {
	top: 350px;
	right: 20px;
}
#e217071 .showPc .item-content.item2 .select {
	top: 415px;
	right: 20px;
}

#e217071 .showPc .item-content.item3 .detail {
	top: 356px;
	right: 20px;
}
#e217071 .showPc .item-content.item3 .select {
	top: 449px;
	right: 20px;
}

#e217071 .showPc .item-content.item4 .detail {
	top: 380px;
	right: 20px;
}
#e217071 .showPc .item-content.item4 .select {
	top: 472px;
	right: 20px;
}

#e217071 .showPc .item-content.item5 .detail {
	top: 353px;
	right: 20px;
}
#e217071 .showPc .item-content.item5 .select {
	top: 446px;
	right: 20px;
}

#e217071 .showPc .item-content.item6 .detail {
	top: 369px;
	right: 20px;
}
#e217071 .showPc .item-content.item6 .select {
	top: 463px;
	right: 20px;
}

#e217071 .showPc .item-content.item7 .detail {
	top: 413px;
	right: 20px;
}
#e217071 .showPc .item-content.item7 .select {
	top: 507px;
	right: 20px;
}

#e217071 .showPc .item-content.item8 .detail {
	top: 396px;
	right: 20px;
}
#e217071 .showPc .item-content.item8 .select {
	top: 489px;
	right: 20px;
}

#e217071 .showPc .item-content.item9 .detail {
	bottom: 23px;
	left: 114px;
}


#e217071 .showSp .item-content .detail {
	text-align: center;
}
#e217071 .showSp .item-content .detail2 {
	display: block;
	padding: 20px 0 !important;
	text-align: center;
	background: #f1f6e0;
}




#e217071 .showSp .item-content .select {
	margin: 18px 0 0;
	padding: 15px;
	text-align: center;
}
#e217071 .showSp .item-content .select.color1 {
	background: url(/img/event/3/217071/217071_sp_select1.jpg);
}
#e217071 .showSp .item-content .select.color2 {
	background: #e1f4fb;
}

#e217071 .showSp .item-content .select .select-border {
	border: 5px solid #f92b42;
}



#e217071 .showSp .item-content .select .txt {
	display: block;
	color: #e40152;
	font-size: 18px;
}


#e217071 .showPc .btn_set {
	margin: 25px 0;
	text-align: center;
}
#e217071 .showPc .btn_set a:hover {
	opacity: 0.8;
}

#e217071 .showSp .btn_set {
	margin: 20px 0 0;
	text-align: center;
}


#e217071 .showPc .btn_set input[type="submit"] {
    background: rgba(0, 0, 0, 0) url("/img/event/3/217071/217071_pc_btn_set.png") no-repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    outline: medium none;
    width: 500px;
    height: 55px;
}
#e217071 .showPc .btn_set input[type="submit"]:hover {
    opacity: 0.7;
}

#e217071 .showSp .btn_set input[type="submit"] {
    background: rgba(0, 0, 0, 0) url("/img/event/3/217071/217071_sp_btn_set1.jpg") no-repeat scroll 0 0 / 100% auto;
    border: medium none;
    height: 0;
    outline: medium none;
    padding-bottom: 25%;
    width: 100%;
}






#e217071 .showPc .btn_pageTop {
	display: block;
	width: 725px;
	margin:28px 0;
	text-align: right;
	font-size:18px;
}

#e217071 .showPc .btn_pageTop a {
	color: #000;
}
#e217071 .showPc .btn_pageTop a:hover {
	color: #e94709;
}

#e217071 .showSp .btn_pageTop {
	display: block;
	margin: 1.5em 0 1.5em !important;
	text-align: right;
	font-size: 10px;
	font-size: 3.125vw;
}
#e217071 .showSp .btn_pageTop a {
	color: #000;
}






#e217071 .showPc .caution {
	box-sizing: border-box;
	width: 725px;
	margin: 0;
	padding: 0px 0 38px 22px;
	border-top: none;
}
#e217071 .showPc .caution h3 {
	margin: 10px 0 10px;
	font-size: 16px;
}
#e217071 .showPc .caution h4 {
	margin: 0 0 10px 10px;
	font-size: 16px;
	color: #f00;
}
#e217071 .showPc .caution li {
	margin-left: 2em;
	font-size: 14px;
	font-weight: normal;
	list-style-type: disc;
}


#e217071 .showSp .caution {
	width: 100%;
	padding-top: 5px !important;
	border: none;
	font-size: 18px;
}
#e217071 .showSp .caution h3 {
	padding: 1em 0 1em 0.5em;
	font-size: 14px;
	border-top: 1px solid #000;
}
#e217071 .showSp .caution h4 {
	margin: 0 0 1em 1.5em;
	font-size: 14px;
	line-height: 1.2;
	color: #f00;
}

#e217071 .showSp .caution li {
	margin-left: 2.5em;
	font-size: 12px;
	font-weight: normal;
	list-style-type: disc;
}



#e217071 .showPc .cBanner{
  margin:0 auto 30px; 
  border:3px solid #d6d6d6;
  width:525px;
}

#e217071 .showPc .cBanner:hover{
  border:3px solid #f74c00;
  opacity: .7;
}
#e217071 .showSp .cBanner{
  margin:0 auto 30px; 
  border:3px solid #d6d6d6;
  width:90%;
}

