

#e217071 .showPc .anchor {
	box-sizing: border-box;
	width: 650px;
	border: 3px solid #4fbdee;
	margin: 30px auto 10px;
	padding: 20px 0 20px 48px;
	border-radius: 8px;
}

#e217071 .showPc .anchor ul li {
	font-size:16px;
	font-weight: bold;
	list-style-type: none;
	line-height: 2;
}

#e217071 .anchor ul li a {
	color: #000;
}
#e217071 .anchor ul li a:hover {
	color: #e94709;
}

#e217071 .anchor ul li a em {
	font-style: normal;
}
#e217071 .anchor ul li a em.color-b {
	color: #009ce5;
}
#e217071 .anchor ul li a em.color-g {
	color: #8ac014;
}
#e217071 .anchor ul li a em.color-r {
	color: #e00279
}



#e217071 .showSp .anchor {
	border: 3px solid #4fbdee;
	margin: 2em 0.5em;
	padding: 1.2em 1em;
	font-size:12px !important;
	border-radius: 8px;
}

#e217071 .showSp .anchor ul li {
	margin-bottom: 0.8em;
	font-size:12px !important;
	font-weight: bold;
	line-height: 1.4;
	list-style-type: none;
}



#e217071 .showPc .item-content {
	position: relative;
	width: 725px;
}
#e217071 .showPc .item-content .detail {
	display: block;
	position: absolute;
	bottom: 22px;
	left: 50%;
	margin-left: -248px;
	width: 501px;
	height: 55px;
	opacity: 0;
	overflow: hidden;
	background: #fff;
}
#e217071 .showPc .item-content a:hover {
	opacity: 0.2;
}
#e217071 .showPc .item-content .detail.set {
	bottom: 96px;
}


#e217071 .showSp .item-content .detail {
	display: block;
	text-align: center;
}


#e217071 .showPc .btn_pageTop {
	display: block;
	width: 725px;
	padding:28px 0;
	text-align: right;
	font-size:18px;
}

#e217071 .showPc .btn_pageTop a {
	color: #000;
}
#e217071 .showPc .btn_pageTop a:hover {
	color: #e94709;
}

#e217071 .showSp .btn_pageTop {
	display: block;
	margin: 1.5em 0 1.5em !important;
	text-align: right;
	font-size: 10px;
	font-size: 3.125vw;
}
#e217071 .showSp .btn_pageTop a {
	color: #000;
}






#e217071 .showPc .caution {
	box-sizing: border-box;
	width: 725px;
	margin: 0;
	padding: 20px 0 48px 22px;
	border-top: 1px solid #000;
}
#e217071 .showPc .caution h3 {
	margin: 10px 0 10px;
	font-size: 16px;
}
#e217071 .showPc .caution h4 {
	margin: 0 0 10px 10px;
	font-size: 16px;
	color: #f00;
}
#e217071 .showPc .caution li {
	margin-left: 2em;
	font-size: 14px;
	font-weight: normal;
	list-style-type: disc;
}


#e217071 .showSp .caution {
	width: 100%;
	padding-top: 0 !important;
	border: none;
	font-size: 18px;
}
#e217071 .showSp .caution h3 {
	padding: 1em 0 1em 0.5em;
	font-size: 14px;
	border-top: 1px solid #000;
}
#e217071 .showSp .caution h4 {
	margin: 0 0 1em 1.5em;
	font-size: 14px;
	line-height: 1.2;
	color: #f00;
}

#e217071 .showSp .caution li {
	margin-left: 2.5em;
	font-size: 12px;
	font-weight: normal;
	list-style-type: disc;
}

